[2020-07-15 01:59] jorgecotillo commented on #1048
@neilpeterson if a schema, say KeyVault, does not specify "name" property as required, and I create an ARM template and validate it with the ARM Tools VSCode extension, is the extension going to complain because of a missing required property? If yes, is it looking at a different definition inside the schema? perhaps a shared definition?

[2020-07-15 05:02] ahamad-MS commented on #1032
thank you @apclouds

[2020-07-15 15:48] neilpeterson commented on #1048
@jorgecotillo I am not positive. In a quick test with _Microsoft.KeyVault/vaults@2015-06-01_ I see that a warning is thrown for the missing name however the location is incorrect which is atypical for schema validation.

@alexgav do you have any thoughts on this?

![image](https://user-images.githubusercontent.com/7844635/87566232-90bdff00-c677-11ea-8965-9e3fde26a2b9.png)

[2020-07-15 17:01] matthchr commented on #1048
For the second item, just to illustrate the issue I looked at:
https://schema.management.azure.com/schemas/2017-06-01/Microsoft.Network.json#/resourceDefinitions/networkSecurityGroups_securityRules

This resource +api version is not in the top level template, but other api versions are, for example:
https://schema.management.azure.com/schemas/2015-06-15/Microsoft.Network.json#/resourceDefinitions/

[2020-07-15 19:09] tfitzmac commented on #1024
@sean-keane25 - thanks for making me aware of this issue. It has been fixed in the generation process. The docs now should show location as required.

[2020-07-15 19:09] tfitzmac commented on #1024
@apclouds - this issue can be closed.

[2020-07-15 19:26] tfitzmac commented on #582
@apclouds - this is actually a schema issue, not a docs issue. The schema has copy defined for outputs, but not for variables or resource properties. In VS Code, I get intellisense for count and input when using copy in outputs. I also get intellisense when using copy at the resource level. When used within variables or resource properties, I have to know the properties because they aren't suggest

[2020-07-16 22:56] matthchr commented on #1048
As discussed offline, sharing the resources which I know are impacted by each of these issues.

Note that this is for the 2015-01-01 spec, I don't have the data for the other specs.

**Name missing**:
[code]

**Resource is defined in referenced spec, but is not actually referenced by 2015-01-01 main spec**:

Sorry for the slightly wonky formatting of the below. The way to read it is as follows:
`{

[2020-07-21 16:30] #1024 closed

[2020-07-24 22:09] apclouds commented on #1048
Hi @matthchr thanks for submitting the PR! We will be working on the 'name' fixes soon. Expect the fix to be submitted around ETA mid-August.

[2020-07-27 16:45] neilpeterson opened #1064 "2018-05-01/subscriptionDeploymentTemplate.json requires output property "value""
When producing a dynamic list of outputs, an output property of 'value' is not required - [docs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-outputs?tabs=azure-powershell#dynamic-number-of-outputs).

This is confirmed when looking at [2019-04-01/deploymentTemplate.json](https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2019-04-01/deplo

[2020-07-28 17:14] victoirj commented on #1030
},
      "sku": {
        "tier": "[parameters('skuTier')]",
        "name": "[parameters('skuCode')]",
        "skuCapacity": {
          "minimum": "[parameters('skuCapacityMinimum')]",
          "maximum": "[parameters('skuCapacityMaximum')]",
          "default": "[parameters('skuCapacityDefault')]",
          "scaleType": "[parameters('skuCapacityScaleType')]"
        }
      },

19:12:17 -
1

[2020-07-28 19:00] joshuawaddell commented on #548
The issue persists whether you configure the diagnosticSettings as a top level resource, or as a child resource. It deploys and configures properly, but still generates a linting error in VSCode.

[2020-07-29 10:16] fiftin commented on #834
@anthony-c-martin You closed issue but problem still actual.

![image](https://user-images.githubusercontent.com/914224/88788007-2f854800-d1ae-11ea-84d3-37be067e9bc2.png)

Where correct place for this issue?

[2020-07-29 22:10] apclouds commented on #1048
Hi @matthchr quick update. For the 'name' fixes, we expect those to be resolved for the majority of the RPs on the list you provided, once their newly auto-generated schema gets merged (we are waiting for a review from those RPs). Can you please share with us the tool used to identify the missing required name field?

[2020-07-30 14:21] mjudeikis opened #1067 "Condition false resources still evaluated"
Scenario:
We have complex ARM template where we have all resources set with `Conditions`.
We deploy same template across multiple azure regions.
Some regions do not have certain resources enabled.
ARM template fails even when condition says false.

We suspect that resources are still evaluated and check before the condition is checked.

Example:
[code]

In our case when we deploy to `eastus2euap`

[2020-07-31 23:18] matthchr commented on #1048
@apclouds - The tool I used is actually a custom code generation tool which my team is working on. It's purpose isn't _really_ to find these issues it just happens to have done so.

It seems like unless there won't be any handcrafted resources in this repo that it would make sense to have a basic validator tool that just walked all the resources and had some standard assertions.

The list that I'v

[2020-08-07 20:17] tomseida commented on #1030
[code]
[code]

Same problem. Any solution?

[2020-08-12 13:19] MWL88 opened #1074 "The schema for Microsoft.Insights/metricAlerts does not include the definition for creating an alert for a web availability test"
When editing an ARM template in VS Code to create an alert for a web availability test, VS Code reports a warning for the `criteria` property:
[code]

The `criteria` property for a web availability test alert is type `Microsoft.Azure.Monitor.WebtestLocationAvailabilityCriteria`, which is neither of the types specified in the warning.

The required type for a web availability test alert is specifie

[2020-08-13 06:36] BernieWhite opened #1076 "Template parameter metadata description"
All throughout Microsoft docs, templates and validation tools such as `arm-ttk` the `metadata.description` property of a template parameter is call out as being valid and recommended.

For example:

[code]

Deployment schemas should reflect that fact that `metadata.description` is a commonly used property by defining it in the schema as _optional_.

This would add the benefit for allowing authorin

[2020-08-13 11:30] BernieWhite opened #1079 "Deployment template metadata"
The `metadata` property of a template and parameter files is valid. While ignored by Azure Resource Manager (ARM) it is demonstrated and valid for storing additional information.

[Our docs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax#metadata) indicate _"your JSON editor may warn you that the property isn't valid"_, however this can easily be fixed by a

[2020-08-13 11:35] BernieWhite commented on #1067
@mjudeikis True. The reason is that some constraints such as location and name are evaluated ahead of the condition property by ARM.

[2020-08-17 23:38] adiun opened #1088 "App Scale out ARM settings"
Hi - I have an Azure Function ElasticPremium2 app and I can't figure out what ARM template settings change the `App Scale Out` section of the `Elastic Scale Out` page. I'm specifically referring to the section in red in the image at the bottom:

| Name                                | ARM template value
| ------------------------ | ----------------------------------------------------------- |
| Al

[2020-08-18 09:15] galiacheng opened #1095 "Microsoft.Common.DropDown should return array value for default selection"
Hello team,

Microsoft.Common.DropDown returns a string value if I don't change the default value by clicking any dropdown items, which introduces error to my template, as the expected parameter type is array.

Reproduce steps:
1. Copy the following json code to [UI Definition Sandbox](https://portal.azure.com/?feature.customPortal=false#blade/Microsoft_Azure_CreateUIDef/SandboxBlade)
2. Click "Pr

[2020-08-19 17:41] avanigupta commented on #835
@devigned, @anthony-c-martin, do we still need to make changes to ConfigurationStoreProperties?

[2020-08-19 23:29] rachel-msft commented on #812
Thanks - We'll investigate.

[2020-08-20 16:42] tfitzmac commented on #957
This issue has been fixed. It can be closed now.

[2020-08-20 17:02] anthony-c-martin commented on #957
Thanks @tfitzmac!

[2020-08-20 17:02] #957 closed

[2020-08-20 20:38] MWL88 opened #1107 "Schema issues with Microsoft.Network/dnszones 2018-05-01"
When adding a `Microsoft.Network/dnszones` resource to a template in VS Code the tooling offers `etag` as an available property:
![image](https://user-images.githubusercontent.com/14333900/90820612-89021200-e329-11ea-9d68-496924521e3a.png)

I am not sure when it would make sense to supply an `etag` in an ARM template ... but if I add an `etag` property VS Code says the template validation failed:

[2020-08-20 20:40] jfggdl commented on #983
adding @Kishp01

[2020-08-20 22:28] MWL88 commented on #1074
Hi @apclouds, please will you progress / triage this issue.
Thanks

[2020-08-25 07:22] IUnknownPtr commented on #1010
@johndeu the ticket was open for **3 months** in Azure Portal and support closed it without any workarounds! Good job!

[2020-08-25 16:42] apclouds commented on #1010
Adding @akucer from the Media team.

[2020-08-26 16:36] anthony-c-martin commented on #1107
@StephenWeatherford Can you think of a reason why the validation in the ARM tools extension is suggesting "etag" and then rejecting it once it's entered? Is it possible we're falling back to the generic resource definition at this point rather than validating against `Microsoft.Network/dnsZones`?

@apclouds We'll need to discuss the required `properties` field with the Network team - if it's not a

[2020-08-26 16:44] anthony-c-martin commented on #1074
Microsoft.Insights are not onboarded for automatic generation; we'll follow up and assign an owner to fix this.

[2020-08-26 16:59] anthony-c-martin commented on #1074
FYI, this should be fixed with #1141

[2020-08-26 17:03] anthony-c-martin commented on #1095
@QuinnMcHugh mind taking a look at this?

[2020-08-26 17:10] QuinnMcHugh commented on #1095
Adding @Naira (v-mnaira)

[2020-08-26 17:39] StephenWeatherford commented on #1107
The field of possible top-level properties under a resource node is fixed, right (https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax#resources)?  @jorgecotillo's template validation code checks against this static list, I think.

The completion comes from the schemas only, so this would suggest the resource schema incorrectly specifies "etag" as a property.  Ca

[2020-08-27 18:13] StephenWeatherford opened #1149 "Schema Error showing in Type for Extensions for Domain Join"
Ported from https://github.com/microsoft/vscode-azurearmtools/issues/929

@jrmurray86:

[2020-08-27 18:29] StephenWeatherford commented on #1107
@anthony-c-martin Indeed the dnszones schema has an etag property:
[code]
But the documentation says nothing about it: https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2018-05-01/dnszones

[2020-08-30 21:00] jaspkaur28 commented on #697
This is a known issue & we have it tracked in our backlog . Please expect an update by Q4 CY20.

[2020-08-31 12:59] marrim-myob commented on #697
Hi , I am trying to add automation run book to the alerts action group using arm templates, arm template requiring                         "serviceUri": "", , where as documention mentions it is optional .When i added runbook using arm template ,it does not map to right runbook . It fails with 404 issue when i browse from the action group .

I also tried to create webhook based on arm template ,bu

[2020-09-11 08:05] Yvand opened #1195 "Schema is missing for resource Microsoft.KeyVault/vaults with apiVersion "2019-09-01""
The resource reference for apiVersion "2019-09-01" is documented here:
https://docs.microsoft.com/en-us/azure/templates/Microsoft.KeyVault/2019-09-01/vaults
Is it possible to add its corresponding schema?

[2020-09-11 09:26] MWL88 opened #1196 "Schema for Microsoft.AAD/domainServices is missing the sku property"
The schema for `Microsoft.AAD/domainServices` is missing the `sku` property.

The `sku` property is also missing from the ARM [template reference](https://docs.microsoft.com/azure/templates/microsoft.aad/allversions) too.

I believe `Microsoft.AAD/domainServices` has been on-boarded to autogenerate the ARM template schema so I checked the API specs ... and the `sku' property is missing from the AP

[2020-09-13 19:03] adiun commented on #1088
@anthony-c-martin is there any new guidance on what these settings should be in ARM templates? The 'always ready instances' setting is the most important to us. Thanks.

[2020-09-15 16:03] MWL88 opened #1208 "Schema for Microsoft.DocumentDB/databaseAccounts includes the read-only provisioningState property"
The schema for resource `Microsoft.DocumentDB/databaseAccounts` (for specifically API version `2020-04-01` but this may also apply to other API versions) includes the read-only `provisioningState` property in the `locations` array and VS Code includes it in the list of available properties:
![image](https://user-images.githubusercontent.com/14333900/93232505-e6934e00-f771-11ea-8577-a03e0c50817d.pn

[2020-09-23 14:42] rjsalaz opened #1227 "Schema is missing for resource Microsoft.Web/sites with apiVersion "2020-06-01""
The resource reference for api version "2020-06-01" is documented here:
[https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites)
Can it be added to the corresponding schema?

[2020-09-27 11:07] shawnxzq commented on #840
@LijuanZ Could you please look at this issue? Thanks!

[2020-09-27 18:55] NoahStahl opened #1234 "Missing schema for"
Please add validation for [latest version](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/components) "2020-02-02-preview" of microsoft.insights/components.

[2020-09-28 10:11] michal-halenka-datasentics commented on #1195
This is probably duplicate of #759

[2020-09-28 18:15] LijuanZ commented on #840
@zenmah An empty object as properties should be valid for data factory payload. Does the issue still happen? If so, can you try again and share factory name and region so we can check what happened?  Thanks!

[2020-09-28 23:50] matthchr opened #1237 "Missing schema for newer versions of Redis API"
The Microsoft.Cache API seems to be in the public Swagger repo but I don't see corresponding entries here in the 2015-01-01 rollup version.

There is a [2018-03-01](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/redis/resource-manager/Microsoft.Cache/stable) and a [2019-07-01-preview](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/redis/resource-ma

[2020-10-06 22:23] ahahn95 commented on #1067
@BernieWhite Interesting, do you have a link to any docs that describe the order that properties are evaluated in a scenario like this?

[2020-10-06 22:49] anthony-c-martin commented on #1067
@bmoore-msft do you happen to know the status of this?

[2020-10-06 22:51] BernieWhite commented on #1067
@ahahn95 the order of evaluation is not documented publicly to my knowledge. Something to improve.

I know from experience that both name and location are evaluated early.

[2020-10-06 23:05] ahahn95 commented on #1067
Thanks for the response.

I actually found that the issue that hung me up today was that a reference function was evaluating before the `condition` property does. I saw there is some documentation [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/conditional-resource-deployment), but some more useful error messages would be nice.

[2020-10-08 03:27] zendu opened #1252 "Microsoft.KeyVault/vaults API version 2019-09-01 is not recognized by Schema 2019-04-01"
My ARM template:
[code]

Error message:
For full schema validation, consider updating the value to one of the following: "2014-12-19-preview", "2015-06-01", "2016-10-01". It is possible that the current resource version is valid but that a schema has not been generated. For more information see https://aka.ms/arm-tools-apiversion.

![image](https://user-images.githubusercontent.com/4323295/9541136

[2020-10-08 16:25] StephenWeatherford commented on #1064
@armleads-azure, @apclouds, @anthony-c-martin, @jorgecotillo Status?  Thanks!

[2020-10-08 22:56] markjbrown commented on #373
I realize this is 3 years later but I am actually going to look into this. Stay tuned.

[2020-10-13 16:20] alex-frankel commented on #1048
@anthony-c-martin / @apclouds - is this resolved in the 2019 root schema?

[2020-10-13 17:25] anthony-c-martin commented on #1048
Just to address these comments/questions:

For performance reasons (partial pattern matching on the giant resources array is **EXTREMELY** expensive in JSON schema 4), the decision was made to stop adding new types to the older root schemas (2015-01-01 & 2014-04-01-preview). As such, 2019-04-01 is the only resourceGroup-level root schema that **should** contain all resource types. I'm working on u

[2020-10-13 17:28] anthony-c-martin commented on #1048
This issue is tracking a few different items. The lack of support for certain resource types is resolved in the 2019-04-01 schema, but we need to add a clarifying note to the README to explain this.

[2020-10-14 22:24] matthchr commented on #1048
I don't have any examples now -- I do think we saw it once but it's been long enough ago that I don't remember what it was. I think for this part you can table it for now if you think you're validating it and we can always re-raise an issue if we find another example of it.

For example looking at the [Microsoft.Web 2016-08-01 API](https://schema.management.azure.com/schemas/2016-08-01/Microsoft.W

[2020-10-16 07:47] zendu opened #1269 "Microsoft.Web/certificates API versions 2020-06-01 and 2019-08-01 are not recognized by deployment schema 2019-04-01"
Error message:
For full schema validation, consider updating the value to one of the following: "2014-06-01", "2015-08-01", "2016-03-01", "2018-02-01", "2018-11-01". It is possible that the current resource version is valid but that a schema has not been generated. For more information see https://aka.ms/arm-tools-apiversion.

[2020-10-18 19:46] MWL88 opened #1272 "Schema for Microsoft.Web/serverfarms includes some properties that cannot be set via an ARM template"
The following properties are offered by VS Code Intellisense when editing the `sku` property in an ARM template to deploy a `Microsoft.Web/serverfarms` resource:
- capabilities
- locations
- skuCapacity

The template deployment fails if any of these properties are included. For example, if the `locations` property is included and deployed via PowerShell the following error is returned:
[code]

Are

[2020-10-20 20:30] markjbrown commented on #373
Took a look at this and this is currently not supported in our RP. We've added this to our backlog and will look to implement support for this in our next work semester Jan-Jul 2021.

Thanks.

[2020-10-23 21:54] colemickens opened #1283 "Microsoft.Compute virtualMachines 2020-06-01 missing"
This page: https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines

Currently shows the virtualMachines api latest version being 2020-06-01, but there is no schema available for that version, under that dated directory in this repo.

Also, it's really, really, really annoying to try to figure out which is latest from just this repo. I'm really not sure how one is expecte

[2020-10-23 21:55] colemickens commented on #1283
And the next newest version on that site is https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-12-01/virtualmachines

So, I look in 2019-12-01 dir in this repo, and again, no schema for `Microsoft.Compute`.

[2020-11-02 09:38] DOliana opened #1298 "deployments do not properyl wait for nested deployments OR secret deployment is not actually finished whwen it reports so"
We have a template that creates a storage account, uses a nested template to deploy a secret to a key vault in a different resource group and an app service that references that template in its app settings. Even though `dependsOn` is properly set, the app service reports that the key vault entry does not exist on deployment. You can see though that it is deployed and a redeployment of the same te

[2020-11-02 17:51] v-jameelaesa opened #1299 "Unable to export template - Schemas not available"
Issue:
I'm trying to export my resource group so that I can copy the contents into another resource group.  However, when I select the contents of the resource groups, I keep getting the following 2 export errors:

Errors:
{"code":"ExportTemplateCompletedWithErrors","message":"Export template operation completed with errors. Some resources were not exported. Please see details for more information

[2020-11-10 05:17] StephenWeatherford commented on #1064
@armleads-azure, @apclouds, @anthony-c-martin, @jorgecotillo. Guys??

[2020-11-19 17:27] brettpostin commented on #1030
[code]

`Error: Code=InvalidTemplate; Message=Deployment template parse failed: 'Could not find member 'skuCapacity' on object of type 'ResourceSku'. Path 'skuCapacity'.'.`

Same here. Any update?

[2020-11-19 22:41] RIKIKU commented on #1030
I have raised this with MS support as I had completely forgotten about raising this issue back in June. The product group is investigating it.

[2020-11-20 03:44] alex-frankel opened #1355 "microsoft.logic/workflows missing "identity" property"
Originally reported here:
https://github.com/Azure/bicep/issues/949

Appears to be the case for all apiVersions, but a PUT with the identity property will work as expected. Here's their template sample from docs:
https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2019-05-01/workflows

[2020-11-20 18:34] MWL88 commented on #1030
I recently created a similar issue #1272 about some properties of the `sku` object.

[2020-11-23 05:19] RIKIKU commented on #1030
The product group has responded to me with the following:

I think it's safe to say that in the coming months, we should see this property disappear from the documentation.

[2020-11-23 06:12] shawnxzq commented on #840
@zenmah Could you please confirm whether you still have the issue? Thanks!

[2020-12-01 10:48] RedmanAC opened #1378 "New-AzResourceGroupDeployment - Bad JSON content found in the request"
Hello,

when deploying a KeyVault via `New-AzResourceGroupDeployment `I get the error `"Bad JSON content found in the request"`

`$kvDeployResult = New-AzResourceGroupDeployment -Name "addKeyVault" -ResourceGroupName $resourceGroupeName -TemplateFile ".\deploy_kv.json" -Verbose -Debug`

I went through the whole process with the -Debug parameter to find the very point from where the error originate

[2020-12-07 17:36] alex-frankel commented on #1355
Tracking here: https://github.com/Azure/azure-rest-api-specs/issues/11986

If the swagger issue gets acknowledged we can close this one.

[2020-12-07 20:20] anthony-c-martin commented on #1298
@DOliana would you mind confirming:
1. ARM location you are deploying this template to
1. ARM location of the resource group you're referencing as `"[parameters('keyvaultSettings').resourceGroup]"`
1. ARM location of the storage account you're referencing as `"[variables('storageAccountName')]"`

I suspect this is going to be due to replication delays in the underlying platform between the regions

[2020-12-08 04:11] anthony-c-martin commented on #1195
FWIW we could probably onboard KeyVault for [automatic schema generation](https://github.com/Azure/azure-resource-manager-schemas/tree/master/generator#onboarding-teams-to-autogeneration-pipeline) once https://github.com/Azure/azure-rest-api-specs/pull/11964 has been merged.

[2020-12-08 04:11] anthony-c-martin commented on #759
FWIW we could probably onboard KeyVault for [automatic schema generation](https://github.com/Azure/azure-resource-manager-schemas/tree/master/generator#onboarding-teams-to-autogeneration-pipeline) once https://github.com/Azure/azure-rest-api-specs/pull/11964 has been merged.

[2020-12-10 16:07] DOliana commented on #1298
@anthony-c-martin the answer to all three questions is "west europe".

You should be able to easily reproduce the issue by using the sample above - I just did that in west europe. The returned message is
[code]

[2020-12-10 19:54] ErenAtolgan opened #1410 "Microsoft.EventGrid topics 2020-06-01 are missing"
Hello

The last version find is the 2020-04-01-preivew in the schema but last version is 2020-06-01
https://docs.microsoft.com/en-us/azure/templates/microsoft.eventgrid/2020-06-01/topics
![eventgrid](https://user-images.githubusercontent.com/5887067/101822644-ed8beb80-3b29-11eb-9331-c7d2a27bfd24.png)

[2020-12-10 20:10] ErenAtolgan commented on #1299
Do you try replace 2015-01-01 by 2019-04-01 ?

[2020-12-10 20:15] ErenAtolgan opened #1411 "Export Template"
Hello

I have question when I export template from Azure the schema value is
https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
and not
https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#
So the lasts versions are not referented. It is possible to change it ?
Sorry if it is not good topic.

[2020-12-10 20:54] anthony-c-martin commented on #1299
Unfortunately this is a limitation in Export - the Microsoft.Media schema contains cyclic references, which the export engine is unable to handle. I don't know of any possible workarounds at this point in time - the schema has been blocked in the ARM service.

[2020-12-18 17:43] anthony-c-martin commented on #1411
That's a great point, thank you for bringing this to our attention!

Note that we're not using this repo to track issues with Export, but I have added it to the internal backlog we have for the Export feature and we should get round to fixing this soon.

[2020-12-18 17:43] #1411 closed

[2020-12-21 11:34] konopkap opened #1434 "Missing schema for Microsoft.Web/sites with API version 2020-06-01 or 2019-08-01"
I'm using the latest  schema
```"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#"```
but it seems to not recognized last two API's for Microsoft.Web/sites (the last suggested API is 2018-11-01 which is 2 version behind the latest one according to the docs https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites)
![image](https://user-images.gi

[2020-12-24 07:59] shawnxzq commented on #840
@anthony-c-martin We believe this issue should be resolved and no customer response on this, could you please help close the issue? Thanks!

[2020-12-29 03:01] ggonzalez94 commented on #1434
Looking forward to this. I've been authoring some templates that use app services heavily and I dont want to loose that nice intellisense support but using api from 2018 also seems a bit odd :/

[2021-01-04 14:36] BernieWhite commented on #1076
@anthony-c-martin Any thoughts?

[2021-01-04 14:36] BernieWhite commented on #1079
@anthony-c-martin Any thoughts?

[2021-01-04 17:11] MarcusFelling commented on #1064
@armleads-azure, @apclouds, @anthony-c-martin, @jorgecotillo - Can you help with a status update on this?

[2021-01-04 18:08] anthony-c-martin commented on #1076
I think this a good suggestion - as you mention usage is very widespread and it feels like an unofficial standard. @bmoore-msft thoughts?

[2021-01-04 18:11] anthony-c-martin commented on #1064
As you mentioned, looks like it was missed as part of #824. I'll create a PR to replicate these changes.

[2021-01-04 18:38] bmoore-msft commented on #1076
One thought we should double-check is where the metadata property is allowed... I *think* it may be allowed anywhere and if we put it only on params that may imply it's not allowed in other areas, which is not ideal.  If the places where metadata is allowed are more finite, we should just add it in those few places...  (though would not add child properties outside of params)

[2021-01-04 20:33] anthony-c-martin commented on #840
@shawnxzq I've just tested this locally with the original repro, and it does appear to be fixed. Thanks for taking a look!

[2021-01-04 20:33] #840 closed

[2021-01-04 20:40] #1064 closed

[2021-01-04 23:35] BernieWhite commented on #1076
@bmoore-msft Yes, unclearly we say metadata can be used anywhere although we demonstrate it being used in:

1. The root of the template, as a peer to `$schema`.
2. As a property of a parameter.
3. At the top level of a resource definition as a peer to `type` and `comments`.
4. Within an output definition as a peer to `type`.

[Metadata reference](https://docs.microsoft.com/en-us/azure/azure-resour

[2021-01-04 23:41] BernieWhite commented on #1076
I raised this a two separate issues but they are interrelated however:

#1076 - `metadata` is a schema defined property of a parameter, `metadata.description` is not but common used and recommended in out docs.
#1079 - `metadata` is not defined in the schema as valid on the template, resources or outputs but is suggested as a valid uses case in our docs.

[2021-01-05 11:24] konopkap commented on #1434
When can I expect any answer>

[2021-01-07 15:49] MarcusFelling opened #1450 "Missing schema for Microsoft.RecoveryServices vaults/backupPolicies 2019-06-15"
Discovered in https://github.com/microsoft/vscode-azurearmtools/issues/1131

[2021-01-07 15:50] MarcusFelling commented on #1450
@leni-msft will https://github.com/Azure/azure-resource-manager-schemas/pull/1229 fix this? If so, who is on point to review?

[2021-01-07 18:12] MarcusFelling commented on #1450
@jorgecotillo @anthony-c-martin Can you lend a hand?

[2021-01-07 19:27] anthony-c-martin commented on #1450
The PR you linked should fix this. I added some comments and will wait for Lei to respond.

[2021-01-08 18:13] anthony-c-martin commented on #1450
#1451 has now been merged to fix this. The schema is available here:
https://github.com/Azure/azure-resource-manager-schemas/blob/55af2a64aacd674e58063a0d0108160f74d4642d/schemas/2019-06-15/Microsoft.RecoveryServices.Backup.json#L64

[2021-01-08 18:13] #1450 closed

[2021-01-11 12:51] DOliana commented on #1298
any news?

[2021-01-11 19:00] anthony-c-martin commented on #1298
Please could you try moving the `listKeys()` function call into the nested template with the following:

[code]

[2021-01-12 14:42] miqm opened #1460 "Storage Account Export Template - SKU object on blobServices resource"
@anthony-c-martin - I know this repository is not for tracking issues with Azure Portal export template functionality, but it's hard to find where such issues can be reported.

To the point:
When you export storage account template, you get (among other resources) following one:

[code]
Thing is, that "sku" property is not part of the blobServices definiton and basically - it's odd to put it there

[2021-01-13 19:26] StephenWeatherford commented on #843
@anthony-c-martin Any ETA?  It's been there a long time.  Thx.

[2021-01-14 00:25] BernieWhite commented on #1079
@bmoore-msft Related to added `metadata` within schema.

[2021-01-14 09:15] DOliana commented on #1298
I still get a NotFound error, but this time for a different reason (at least I think that's the case). With your suggestion redeploying also does not help. I think the reason is, that your suggestion assumes that the nested deployment occurs in the same rg as the outer deployment which is not the case.

Detailed error-message:
[code]

[2021-01-14 18:12] anthony-c-martin commented on #843
I've submitted https://github.com/Azure/azure-resource-manager-schemas/pull/1466 for this.

[2021-01-14 19:07] StephenWeatherford commented on #843
Cool, thanks!  Do I need to submit a separate issue for the "statics" portion of microsoft/vscode-azurearmtools#1141?

[2021-01-14 19:18] anthony-c-martin commented on #843
I already fixed this with https://github.com/Azure/azure-resource-manager-schemas/pull/1463 but don't have permissions to close the vscode ARM tools issue.

[2021-01-14 19:19] StephenWeatherford commented on #843
Thanks.  I have to actually pick up the new schemas in the extension so I'll close it after I do that.

[2021-01-14 19:44] #843 closed

[2021-01-14 20:44] anthony-c-martin commented on #1460
Thanks for raising this! The resource provider returns the SKU as a readonly property (definition [here](https://github.com/Azure/azure-rest-api-specs/blob/44ec11c74634f1afa5bbe0d3f2678b7f819ebf8e/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/blob.json#L1215)), but the backend Export algorithm does not strip any top-level resource properties based on schema structure -

[2021-01-14 20:44] #1460 closed

[2021-01-20 01:03] StephenWeatherford opened #1470 "Regression: "Microsoft.RecoveryServices/vaults" no longer lists most api versions"
@anthony-c-martin

The newest schema no longer lists any Microsoft.RecoveryServices/vaults versions other than 2016-06-01.

Even the most recent one is missing (2018-01-10).

Previous (a month or two ago):
![image](https://user-images.githubusercontent.com/6913354/105112552-221f8b00-5a78-11eb-99e3-c4dacfa6c87c.png)

Current:
![image](https://user-images.githubusercontent.com/6913354/105112444-e553

[2021-01-20 01:06] StephenWeatherford commented on #1470
This will block me from updating the schemas in the ARM extension

[2021-01-20 01:33] StephenWeatherford opened #1471 "2015-07-01 version of Microsoft.Authorization/roleAssignments no longer appears in schemas"
NOTE: This is *not* blocking the ARM extension but will affect users with the 2015-07-01 version of roleAssignments (or they can update to a newer version).

[code]
Previous:
![image](https://user-images.githubusercontent.com/6913354/105114722-4c734780-5a7c-11eb-9989-db0f1b5d3d1d.png)

Current:
![image](https://user-images.githubusercontent.com/6913354/105114651-29489800-5a7c-11eb-8963-e77d5210ba3

[2021-01-20 14:20] anthony-c-martin commented on #1470
@apclouds, @jorgecotillo FYI

The RecoveryServices swagger specs only declare support for the 2016-06-01 API version, so automatic schema generation has done the right thing. We may need to back out the onboarding regardless if we can't get a fix in for this quickly.

[2021-01-21 20:22] MarcusFelling opened #1474 "Microsoft.Portal/dashboards reports false warning"
reported here https://github.com/microsoft/vscode-azurearmtools/issues/1146

repro template from the original issue:
[code]

[2021-01-21 20:23] MarcusFelling commented on #1474
@anthony-c-martin could you take a look?

[2021-01-25 16:53] MarcusFelling commented on #1474
@anthony-c-martin @apclouds Do we need somebody on the Portal team to take a look at this?

[2021-01-27 11:32] konopkap commented on #1434
Hello? Is anyone here to look through this issue?

[2021-01-27 16:22] anthony-c-martin commented on #1470
#1451 is the PR which removed these API versions. @leni-msft - please could you take a look?

[2021-01-27 19:17] anthony-c-martin commented on #1474
It looks to me that the issue causing this particular validation issue is that `properties->lenses->parts->metadata ` has 'additionalProperties' modeled as an object:
https://github.com/Azure/azure-rest-api-specs/blob/510bbe951a14d183b553ae9b64b514687842c64c/specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/portal.json#L434-L436

[2021-01-28 16:10] anthony-c-martin opened #1480 "Missing schema for Microsoft.AlertsManagement/resourceHealthAlerts at API version 2020-08-04-preview"
Root cause: https://github.com/Azure/azure-rest-api-specs/issues/11766

[2021-01-28 17:51] MWL88 opened #1481 "webApplicationFirewallPolicyLink property incorrectly specified in Azure Front Door schema"
The schema definition for resource `Microsoft.Network/frontDoors`, for API versions 2020-04-01 and 2020-05-01, incorrectly specifies `webApplicationFirewallPolicyLink` as a property of `routingRules`.

If this property is present in an ARM template the deployment fails with error:
Invalid Resource Id provided for WebApplicationFirewallPolicy link. (Code:BadRequest)

![image](https://user-images.gi

[2021-01-28 18:03] StephenWeatherford commented on #1470
@leni-msft We're going to need to ship the ARM tools extension for vscode again in the next couple of weeks.  If this isn't fixed before then, users will start getting false positives for usages of all of these (including the most recent api version).

[2021-01-28 22:01] apclouds commented on #1480
Adding @liadtal and @yairgil for visibility

[2021-01-28 22:03] aznetsuppgithub commented on #1481
@Meera Haridasa<mailto:Meera.Haridasa@microsoft.com> – (Fixed my login issues). Bot is telling me to update a repo that I don’t have access to, can you look into this?

Tim

From: msftbot[bot] <notifications@github.com>
Sent: Thursday, January 28, 2021 1:58 PM
To: Azure/azure-resource-manager-schemas <azure-resource-manager-schemas@noreply.github.com>
Cc: Networking Supportability GitHub Contacts

[2021-01-28 22:05] apclouds commented on #1471
Hi @stankovski can you please investigate on your end?

[2021-01-28 22:07] apclouds commented on #1434
@naveedaz @Azure/azure-app-service-control-plane can you please investigate on your end?

[2021-01-28 22:35] aznetsuppgithub commented on #1481
Hi Tim,

This is not a repo that the Azure SDK team owns hence you’ll have to contact the repo owner to figure out access.

Best,
Meera

From: Tim Meyer <timeyer@microsoft.com>
Date: Thursday, January 28, 2021 at 2:03 PM
To: Azure/azure-resource-manager-schemas <reply@reply.github.com>, Azure/azure-resource-manager-schemas <azure-resource-manager-schemas@noreply.github.com>, Meera Haridasa <Meera.

[2021-01-29 02:38] leni-msft commented on #1470
hi @StephenWeatherford , which root schema is ARM tools extension using? I'll try to restore some references of old RecoveryService schemas authored manually.
@anthony-c-martin pls let me know if there's better way to resolve this quickly.

[2021-01-29 16:51] aznetsuppgithub commented on #1481
Apologies @Meera<mailto:Meera.Haridasa@microsoft.com>, I’m not following. Your SDK bot, below, reached out to networking on this item. Are you indicating that the your bot redirects work outside your scope? Or is msftbot not your bot?

Tim

From: Meera Haridasa <Meera.Haridasa@microsoft.com>
Sent: Thursday, January 28, 2021 2:35 PM
To: Tim Meyer <timeyer@microsoft.com>; Azure/azure-resource-manage

[2021-01-29 17:09] aznetsuppgithub commented on #1481
Hi Tim,

Since we don’t own the azure-resource-manager-schemas repo, our bot is not configured to triage within that repo. I did some digging and it seems that for this repo, they have a list by which the bot triages. See here: https://github.com/Azure/azure-resource-manager-schemas/blob/master/rp-label-to-contact.md  If you’d like this changed, the page says to submit a PR request and update the

[2021-01-30 00:48] #1470 closed

[2021-01-31 15:24] MWL88 opened #1486 "API / schema versioning strategy for Microsoft.Sql resource provider"
The [Azure REST API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#preview-versions) describe the use of _preview_ APIs and states _preview_ APIs are not subject to the  same stability or lifecycle guarantees as generally available APIs. Additionally the guidelines state preview APIs should be retired within 12 months.

When deploying SQL resources via ARM t

[2021-02-01 16:24] rakeshrocks opened #1488 "Not able to access https://schema.management.azure.com/schemas/2020-09-01/Microsoft.NetApp.json#"
2020-09-01 schema under  https://schema.management.azure.com/schemas/ is updated automatically as NetApp Schema's are atuo-generated , but I could not access  https://schema.management.azure.com/schemas/2020-09-01/Microsoft.NetApp.json#
This was not the case with older schema's. Could you please help us why this link is broken?

[2021-02-01 20:20] MarcusFelling commented on #1474
PR for fix here: https://github.com/Azure/azure-rest-api-specs/pull/12732

[2021-02-04 12:50] manu4rhyme commented on #1434
+1
I'm also facing the same issue

[2021-02-04 18:49] louisobasohan commented on #1434
+2 same here

[2021-02-04 21:53] apclouds commented on #1488
@rakeshrocks this should be addressed by eod.

[2021-02-04 21:57] apclouds commented on #1486
Hi @MWL88  this is an RP specific issue relating to their process of releasing preview api versions. We will discuss internally with the SQL team to see what can be done here.

[2021-02-04 21:57] #1486 closed

[2021-02-05 08:49] stan-sz opened #1494 "Microsoft.KeyVault/vaults/secrets stores new version on each deployment"
A template to store a KV secret using Microsoft.KeyVault/vaults/secrets on a redeployment with the same secret value always creates a new version of the secret (despite the secret value being the same as in older version). All such versions are enabled, which will make a bit more work when the secret will have to be renewed/invalidated.

This is also brought up in https://stackoverflow.com/questio

[2021-02-06 00:50] jlichwa commented on #1494
I tried to reproduce, but if secret you are passing has exactly same parameters, new version is not created.
I used below script and my vault has only one secret version after multiple redeployements:
[code]
If ANY of parameters is different then new version is created and that is expected behavior.

[2021-02-08 16:08] rakeshrocks commented on #1488
please let us know if 2020-09-01 or later date are published. We are waiting for them to be published so that we can write azure policy based on the new Microsoft.NetApp.json

[2021-02-08 21:24] anthony-c-martin commented on #1079
This sounds like a good suggestion to me.

[2021-02-09 04:45] Rakesh201180 opened #1497 "AzureRmResourceGroupDeployment for storage account creation : The response for resource had empty or invalid content"
Template file

`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "storageAccount_name": {
            "defaultValue": "stcr2130",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Storage/storageAccounts",

[2021-02-09 12:09] stan-sz commented on #1494
Indeed. I must have had some variance in the secret value. Thanks for confirming!

[2021-02-09 12:09] #1494 closed

[2021-02-12 22:20] onionhammer commented on #521
Weird that this was just closed without any comment at all..

[2021-02-19 22:34] v-tsun opened #1508 "Miss schema for providers in rest-api-specs/2020-09-01-hybrid.json"
Hey, this is azure stack team. we have specs https://github.com/Azure/azure-rest-api-specs/blob/master/profile/2020-09-01-hybrid.json for azure stack. But we are still missing schema for microsoft.compute with api version 2020-06-01 and microsoft.keyvault with api version 2019-09-01.

[2021-02-19 22:43] bganapa commented on #1508
@anthony-c-martin to help route this issue.

[2021-02-19 23:03] bradoyler commented on #662
was anything created for this?

[2021-02-20 08:52] anthony-c-martin commented on #662
Nothing I'm aware of. I created https://github.com/anthony-c-martin/arm-templator-types for a prototype project which could possibly be made more robust.

[2021-02-20 08:54] anthony-c-martin opened #1510 "Missing schema for Microsoft.Compute 2020-06-01"
Created from #1508

[2021-02-20 08:55] anthony-c-martin opened #1511 "Missing schema for Microsoft.KeyVault 2019-09-01"
Created from #1508

[2021-02-20 08:57] anthony-c-martin commented on #1508
I've created #1510 & #1511 for the individual RPs. In future, please create a single issue for each missing schema as they must be handled independently by each team.

[2021-02-20 08:57] #1508 closed

[2021-02-20 16:10] felipebbc commented on #548
VSCode still generates a warning if diagnosticSettings is defined as a top level resource.
Setting diagnosticSettings as a **child resource** solves the issue.

Example:
[code]

[2021-02-20 18:26] joshuawaddell commented on #548
@felipebbc , do you still see the linting error with the preview api version when it is configured as a child resource?

[2021-02-20 19:20] felipebbc commented on #548
@joshuawaddell No

[2021-02-20 22:43] apclouds commented on #1488
@rakeshrocks sorry for the delay. There was an issue in our schemas publishing job. We are working on a fix to rollout this week.

[2021-02-21 15:41] bradoyler commented on #662
@anthony-c-martin yes, saw those 👍 . Are you just converting the json schemas to ts Types?

[2021-02-22 12:27] MWL88 opened #1513 "What is happening with on-boarding all RPs for schema autogeneration?"
A few weeks ago most active PRs in the [Onboard all RPs for schema autogeneration](https://github.com/Azure/azure-resource-manager-schemas/projects/1) project were moved to the `Done` column and closed ... not merged.

There are still a few significant RPs that have not been onboarded. For example, Microsoft.Compute, most of Microsoft.Network and Microsoft.Web.

What is the current plan for onboar

[2021-02-22 12:53] anthony-c-martin opened #1514 "Missing schema for Microsoft.Logic 2019-05-01"

[2021-02-22 12:59] anthony-c-martin commented on #1488
The latest schemas have been pushed to schema.management.azure.com and I'm able to access https://schema.management.azure.com/schemas/2020-09-01/Microsoft.NetApp.json.

[2021-02-22 12:59] #1488 closed

[2021-02-22 13:32] MWL88 opened #1515 "Missing schema for Microsoft.Storage 2021-01-01"
RP Microsoft.Storage appears to be onboarded for schema auto-generation but the schama for the latest API version is missing.

[2021-02-22 23:53] TimLovellSmith commented on #1237
Looks like we need to get Microsoft.Cache onboarded for autogeneration.

[2021-02-22 23:57] TimLovellSmith commented on #1237
Or... maybe not. Microsoft.Cache is already in the list in https://github.com/Azure/azure-resource-manager-schemas/blob/master/generator/autogenlist.ts
So why would newer versions be missing?

[2021-02-23 00:03] matthchr commented on #1237
It may be because the 2015-01-01 spec is already so large that this whole API version was decided to be cut from it?

[2021-02-23 00:36] TimLovellSmith commented on #1237
@mattchr I don't really grasp the details of this. How would a spec or api-version be too large? Who would cut it? How?

[2021-02-23 00:44] matthchr commented on #1237
The schemas have to be parsed in order to be used, and as they grow larger that takes more time. @anthony-c-martin understands far better than I do but I think the result is that for the schemas that are already very large (2015-01-01) they are trying to avoid growing them even larger and they are doing that by omitting some API versions maybe?

[2021-02-23 05:06] TimLovellSmith commented on #1237
@matthchr I think I see. Well, given we have come along a couple years/versions and even have 2020 if not 2021 api versions now, I think its _probably_ about time for a new one by now... should we simultaneously retire any one ones?

[2021-02-23 05:31] TimLovellSmith commented on #1237
So while trying to figure out what this is really about, I came out quite confused about how this is all supposed to be structured. Are the deploymentTemplate schemas supposed to link to every other resource type schema? Which version? What if the version numbers are not aligned?

[2021-02-23 05:56] TimLovellSmith commented on #1237
(So would #1520 address this?)

[2021-02-23 13:55] anthony-c-martin opened #1523 "Onboard this repo for dependabot"
We have a number of dependencies on packages for generation and tests. We should try to keep these dependencies up-to-date. See how we've configured this for bicep [here](https://github.com/Azure/bicep/blob/main/.github/dependabot.yml)  and bicep-types-az [here](https://github.com/Azure/bicep-types-az/blob/main/.github/dependabot.yml).

[2021-02-23 14:09] anthony-c-martin commented on #1515
This is because it has been missed from the config at https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/readme.azureresourceschema.md. I've raised https://github.com/Azure/azure-rest-api-specs/issues/13112. @leni-msft FYI

[2021-02-23 14:26] anthony-c-martin commented on #1237
Basically, it turns out that when using JSON schema 4 to validate or provide code completion functionality naively for resources, an exhaustive pattern match across 200+ files with multiple $refs each is **EXTREMELY** slow (talking 30+ seconds for some implementations I've seen). So the decision was made to avoid adding any new resource types to the existing root schemas (see note [here](https://g

[2021-02-23 15:02] anthony-c-martin commented on #1237
Looks like the reported missing schema versions are now present:
https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2018-03-01/Microsoft.Cache.json
https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2019-07-01/Microsoft.Cache.json

@mattchr are you still seeing problems here?

[2021-02-23 18:03] matthchr commented on #1237
@anthony-c-martin - No as far as I know things are fine here. I think that this can probably be closed.

[2021-02-23 20:03] anthony-c-martin commented on #1237
Thanks for confirming!

[2021-02-23 20:03] #1237 closed

[2021-02-24 16:50] jbockle commented on #1497
we are seeing the same issue for storage accounts, this template worked properly before

[code]

[code]

[2021-02-24 18:38] jbockle commented on #1497
I was able to fix my template, the subnets in this new subscription needed storage service endpoints added before the acl could be created, maybe this error is just stating some pre-req is required and was not found.  Still, I think the error should probably be improved.  @Rakesh201180 , since you aren't using network acls, maybe confirm the storage account provider is added to the subscription.

[2021-02-25 21:50] anthony-c-martin commented on #1511
Fixed with #1525

[2021-02-25 21:50] #1511 closed

[2021-02-25 21:53] apclouds commented on #1513
@MWL88 we are planning on walking through the autogenerated schemas for these RPs this semester. It was not done automatically given the complexity of these RPs and high impact a broken schema would cause. Our goal is to have all remaining RPs onboarded by 6/1.

[2021-02-25 21:53] #1513 closed

[2021-02-26 14:55] MWL88 commented on #1515
The PR (Azure/azure-rest-api-specs#13114) associated with the issue (Azure/azure-rest-api-specs#13112) reference in an earlier comment was merged yesterday.

How long does the process take for the updated OpenAPI specs to be published as updated ARM JSON schema on schema.management.azure.com?

[2021-03-02 18:20] #836 closed

[2021-03-02 22:51] #1079 closed

[2021-03-04 02:41] StephenWeatherford opened #1535 "virtualMachineMachines@2019-12-01 missing"
From quickstarts 101-1vm-2nics-2subnets-1vnet/azuredeploy.json

[code]
[code]

[2021-03-05 15:49] mortenf1984 opened #1536 "Microsoft.Network/firewallPolicies apiVersion 2020-07-01 schema Missing"
Schema for Microsoft.Network/firewallPolicies apiVersion 2020-07-01 with the new Premium Firewall functions are missing.

`For full schema validation, consider updating the value to one of the following: "2019-06-01", "2019-07-01", "2019-08-01", "2019-09-01", "2019-11-01", "2019-12-01", "2020-03-01", "2020-04-01", "2020-05-01". It is possible that the current resource version is valid but that a s

[2021-03-05 16:04] mortenf1984 opened #1537 "Microsoft.Network/firewallPolicies/ruleCollectionGroups@2020-07-01 Schema Missing"
Shcema for Microsoft.Network/firewallPolicies/ruleCollectionGroups apiVersion 2020-07-01 is missing:

`For full schema validation, consider updating the value to one of the following: "2020-05-01". It is possible that the current resource version is valid but that a schema has not been generated.`

`
"type": "Microsoft.Network/firewallPolicies/ruleCollectionGroups",
"apiVersion": "2020-07-01"
`

[2021-03-08 05:57] peter-bertok commented on #548
@alex-frankel this also affects Bicep.

Similarly, I was looking for a systematic way to enable all Azure Diagnostics for all (or most) resource types, but the only "authoritative" source for the available diagnosticSettings seems to be this page: https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-categories

In the same manner, the built-in Azure Blueprints also only co

[2021-03-08 09:28] mortenf1984 opened #1540 "Microsoft.Network/publicIPPrefixes@2020-07-01 Schema Missing"
Schema for Microsoft.Network/publicIPPrefixes API Version 2020-07-01 is missing from repocitory:

For full schema validation, consider updating the value to one of the following: "2018-07-01", "2019-04-01", "2019-06-01", "2019-07-01", "2019-08-01", "2019-09-01", "2019-11-01", "2019-12-01", "2020-03-01", "2020-04-01", "2020-05-01". It is possible that the current resource version is valid but that

[2021-03-08 22:09] StephenWeatherford opened #1542 "Invalid validation errors for Microsoft.Web/sites/config"
This was reported here: https://github.com/microsoft/vscode-azurearmtools/issues/1240

[code]

Gives these validation errors:

EXPECTED:

[2021-03-09 01:54] anthony-c-martin commented on #1542
@StephenWeatherford this is a tricky one. The `Microsoft.Web/sites/config` uses the `name` field as a discriminator - so any validation which takes place depends on `"name"` being set to the correct value. In this case, when it's set to something matching none of the allowed values, the error message becomes a huge pattern match across all properties and basically impossible to understand.

If I m

[2021-03-09 10:31] Jeej commented on #1542
The example is from the referenced issue I created. Apparently, I stripped the example too much. The actual file is a template file to deploy a couple of different services. In my actual file I have as name:
`"name": "[concat(parameters('appService_Name'), '/web')]",`

So as full file as example it would be:
[code]

I understand the regexes and that it is quite difficult to improve. The following

[2021-03-09 11:53] anthony-c-martin commented on #1542
Thanks for clarifying! Your use case makes perfect sense, there are just relatively few resource types where the name is used to make decisions about the shape of the data. Since the ARM template engine requires concat-ing the `name` field for child resources, it's not really possible to do this validation reliably in pure JSON schema; I think we will need to have a discussion about whether the fi

[2021-03-10 15:12] matsest opened #1545 "Missing schema for Microsoft.Compute: virtualMachines/extensions type AzureDiskEncryption"
routed from [twitter](https://twitter.com/satya_vel/status/1369664904555241475)

- resource type: "Microsoft.Compute/virtualMachines/extensions"
- Extension properties:
  - publisher: Microsoft.Azure.Security
  - type: AzureDiskEncryption

For validation of templates using the VS Code ARM tools extension, the validator seems to only find "type: IaasAntimalware" for validation if publisher is set t

[2021-03-10 16:22] anthony-c-martin commented on #1545
Thanks for raising this!

[2021-03-11 11:46] anthony-c-martin opened #1547 "Support extension resources with the 'scope' property"
We have auto-generated schemas available for extension resources - they are just not exposed as potential "resource" declarations with the "scope" property:

[code]

It should be possible to add extension resources to the list of potential resources, as long as we mark "scope" as required.

[2021-03-11 20:11] StephenWeatherford opened #1548 "IntelliSense for schedule query rule condition operator recommends "Equals" instead of "Equal""
From https://github.com/microsoft/vscode-azurearmtools/issues/1257

[code]

EXPECTED: no errors
ACTUAL: 2 problems:
1) properties.criteria.allOf[0].operator property gives error:
[code]
2) Unhelpful error message when deploying with recommended "Equals":
[code]

[2021-03-15 13:43] MWL88 opened #1551 "Schema for Microsoft.Network/virtualNetworks/virtualNetworkPeerings includes the read-only peeringState property"
The `peeringState` property cannot be set via an ARM template deployment. Please remove this property from the ARM template schema.

[2021-03-18 09:54] konopkap commented on #1434
@apclouds anyone has investigated it? It's a huge handicap in our everyday work.

[2021-03-19 16:47] Jeej commented on #1542
Sorry that I didn't respond earlier, I was ill and had to some other things first.

In one of our other templates I noticed that we used the nested resource syntax, but I think in this case it gives the same error as in my previous example:

[code]
The error I get in Visual Studio code is:
[code]

The virutal network is based on [this comment](https://github.com/MicrosoftDocs/azure-docs/issues/203

[2021-03-19 19:05] StephenWeatherford commented on #1542
@Jeej It would be better to report the crash as a new bug in microsoft/vscode-azurearmtools, which I could look at.  I'm going to need more info to investigate, though.  I.e. what exactly do you mean by "crashed"?  Did you get a notification with a button to report an issue (which would give me a stack)?  Can you repro it consistently?  Thanks.

@anthony-c-martin @jorgecotillo See the above commen

[2021-03-22 11:59] cloudchristoph opened #1555 "Microsoft.RecoveryServices/vaults/backupPolicies@2021-01-01 | Missing property values for backupManagementType"
I'm not sure if this issue belongs here. If not, please forgive me or give me a hint 😉.

For Backup Policies a Recovery Services Vault I can specify the Management Type. The possible values are documented here:
https://docs.microsoft.com/en-us/azure/templates/microsoft.recoveryservices/vaults/backuppolicies?tabs=json#protectionpolicy-object

![image](https://user-images.githubusercontent.com/20402

[2021-03-28 02:16] wheelers-websites commented on #1030
@RIKIKU it's almost April 2021 and the property is still in the documentation. I don't know why ARM is so complicated.

[2021-03-29 22:15] MWL88 opened #1558 "Microsoft.KeyVault/vaults/keys properties missing from schema published to schema.management.azure.com"
The KeyVault RP appears to be on-boarded to auto-generate the ARM schema, however the schema defined in this file
https://schema.management.azure.com/schemas/2019-09-01/Microsoft.KeyVault.json is missing the following properties for resource `Microsoft.KeyVault/vaults/keys`:
- keyOps
- keySize
- kty

These properties are included in the schema file in the repo, however they are missing from the fi

[2021-04-15 00:53] anthony-c-martin commented on #1558
@apclouds - sounds like we just need to publish the latest schemas to schema.management.azure.com

[2021-04-15 03:32] leni-msft commented on #1558
@anthony-c-martin yes, confirmed the properties are there https://github.com/Azure/azure-resource-manager-schemas/blob/b83c9587a3a1e4cc77545c43f9b45eae1c34e311/schemas/2019-09-01/Microsoft.KeyVault.json#L446-L495

[2021-04-22 10:29] MustafUddinAhmed opened #1609 "How to divide/convert existing ARM template (which is exceeding 4mb size standard) to Linked ARM Templates."
Microsoft Azure has a size restriction for ARM template for deployment it via DevOps CI/CD, the size of the ARM template can't exceed more than 4mb for direct deployment.

They have provided the solution as to create Linked template and deploy it via reference.

[Documentation](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#linked-resource-manager-templates)

[2021-04-27 14:48] #1474 closed

[2021-04-30 06:41] konopkap commented on #1434
@apclouds, @naveedaz any update?

[2021-05-04 16:00] BenJ-Wisco opened #1683 "Microsoft.Security/pricings API Version 2018-06-01 Schema Missing"
Microsoft.Security/pricings API Version 2018-06-01 Schema Missing which is the latest according to the [ARM Template reference page](https://docs.microsoft.com/en-us/azure/templates/microsoft.security/2018-06-01/pricings?tabs=json)

In VS Code I receive the following

For full schema validation, consider updating the value to one of the following: "2017-08-01-preview". It is possible that the curr

[2021-05-05 09:39] sarthakvijayvergiya opened #1684 "CreateUiDefinition: How to create Button ?"
How can we add button like 'Find Device' shown below image ?
![image](https://user-images.githubusercontent.com/18403281/117122997-1a2ff080-adb4-11eb-9307-fb8d1281574a.png)

[2021-05-05 09:50] sarthakvijayvergiya commented on #1684
@quinn-mchugh Can you help us ?

[2021-05-05 14:12] QuinnMcHugh commented on #1684
@sarthakvijayvergiya There's no ability in CreateUiDefinition to add buttons. The list of ready-made controls available can be seen here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-uidefinition-elements

[2021-05-05 14:40] sarthakvijayvergiya commented on #1684
@quinn-mchugh Thanks for the promptly response, but then how the partners are using in marketplace templates and there are many I am attaching few for your reference..
Is there any other latest schema exist ?

![image](https://user-images.githubusercontent.com/18403281/117158912-752a0d80-addd-11eb-8ec3-a245ef234496.png)

https://portal.azure.com/#create/1604376875527.wedx-iot-edge-noderedplan-node

[2021-05-05 14:46] QuinnMcHugh commented on #1684
These Marketplace offers aren't using no-code CreateUiDefinition for their solution. The publishers have created a Portal extension and written custom code (HTML/JS) to obtain this behavior. For further Portal or CreateUiDefinition questions, I'm adding @garykeong who is the owner for this area

[2021-05-05 14:51] sarthakvijayvergiya commented on #1684
Thanks @QuinnMcHugh for the useful information.

[2021-05-06 08:37] mortenf1984 opened #1686 "Microsoft.Compute/virtualMachines@2020-12-01 schema incorrect vmSize array"
In the Schema version 2020-12-01, 2020-06-01, 2019-12-01, and all of the older ones are missing the newer VM SKU's  like these:
  'Standard_D2s_v4'
  'Standard_D4s_v4'
  'Standard_D8s_v4'
  'Standard_D2ds_v4'
  'Standard_D4ds_v4'
  'Standard_D8ds_v4'
  'Standard_E4ds_v4'
  'Standard_E8ds_v4'

as an example, meaning you cannot deply a v4 virtual machine with a ARM/Bicep template.

Can the Array wit

[2021-05-09 05:02] SlothCroissant commented on #697
Can confirm this issue is still ongoing. Falling back to REST API instead in the meantime.

[2021-05-11 13:51] richredgrave opened #1700 "Unable to load scheme. No schema request available"
Hi,
All ARM deployments are currently failing for me suddenly today with the error that no schema request is available

![image](https://user-images.githubusercontent.com/47722074/117826398-0b3fb700-b268-11eb-9c68-aa09d2d263b7.png)

for reference, I am using uksouth and version 2019-04-01

Anyone else getting this too?

[2021-05-14 00:25] benjamincburns opened #1706 "CreateUiDefinition "permission" field not allowed under subscription or resourceGroup validations"
The example from the docs [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-uidefinition-overview#config) generates validation warnings, as the current `CreateUiDefinition` schemas don't include definitions for the `permissions` fields.

[2021-05-14 00:27] benjamincburns opened #1707 "CreateUiDefinition "resourceProviders" field not allowed under parameters.config.basics.subscription"
The example from the docs [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-uidefinition-overview#config) generates validation warnings, as the current `CreateUiDefinition` schemas don't include schema for the `resourceProviders` field under `parameters.config.basics.subscription`.

[2021-05-14 00:29] benjamincburns opened #1708 "CreateUiDefinition missing a bunch of element types"
Many of the element types shown [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-uidefinition-elements#elements) are missing from the CreateUiDefinition schemas. Most notably for me, the `Microsoft.Solutions` namespace appears to be entirely missing.

[2021-05-16 17:25] jaspkaur28 commented on #697
Runbooks can now be invoked using webhooks through ARM template as documented here :
https://docs.microsoft.com/en-us/azure/automation/automation-webhooks#use-a-webhook-from-an-arm-template

[2021-05-24 15:18] BenJ-Wisco opened #1726 "Microsoft.Authorization/roleAssignments API Versions in reference documentation are missing"
VS Code only has API versions **2014-10-01-Preview** and **2017-09-01** available for Microsoft.Authorization/roleAssignments.  The ARM Template reference page for [Microsoft.Authorization/roleAssignments](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments?tabs=json) does not list either of those versions.

I did verify the ARM template is using the [latest ro

[2021-05-27 05:16] chchadha opened #1734 "Serialization Issues with Microsoft.Azure.Management.Compute.Models and Microsoft.Azure.Management.Network.Models"
When attempting to make a put request (i.e [Create VM](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate) or [Create NIC](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkinterfaces/createorupdate)). The API returns bad request due to not finding the properties. For example,
[code]

[2021-06-01 08:11] braveamita opened #1740 "Missing Azure Cycle Cloud and Cloud Service -Classic (in azure-mgmt) jar"
I am looking for these two services (Cycle Cloud and Cloud Service -Classic) jar for integrating my application with Azure cloud.
Unable to find any SDK jar related to these services. Is there any specific reason to not providing these services jars.

[2021-06-01 08:15] braveamita opened #1741 "Need overall Azure Services relationship Doc"
Looking for relationship Azure Services documents which give the clear picture of inter depended services. I have checked the Microsoft Azure Document, it gives the relationship for each service.

[2021-06-03 18:03] BenJ-Wisco commented on #1726
As a note, the latest according to [Microsoft.Authorization/roleAssignments](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments?tabs=json) is 2020-10-01-preview, but that version is not available in Azure.  Instead, it looks like the latest is 2021-04-01-preview

[2021-06-03 22:20] apclouds commented on #1741
Hi @braveamita here is a link to our [ARM Template Reference](https://docs.microsoft.com/en-us/azure/templates/) that defines the properties available per each api version. For your question, I believe you are looking for the https://github.com/MicrosoftDocs/azure-docs repo

[2021-06-03 22:20] #1741 closed

[2021-06-03 22:21] apclouds commented on #1740
Please raise this issue in the SDK repo https://github.com/Azure/azure-sdk instead as we do not track/handle these type of issues here.

[2021-06-03 22:21] #1740 closed

[2021-06-03 22:33] apclouds commented on #1734
@chchadha closing this issue as it does not pertain to ARM schemas. You might want to open this issue in the https://github.com/Azure/azure-sdk repo instead.

[2021-06-03 22:33] #1734 closed

[2021-06-03 22:49] apclouds commented on #1700
Hi @richredgrave this is a known issue that impacts the Portal editor only. It does not prevent you from deploying. We recommend using the VSCode ARM Tools Extension when authoring/debugging your ARM templates to get the latest intellisense and validation.

[2021-06-03 22:49] #1700 closed

[2021-06-05 19:30] nielsvdc commented on #1149
I confirm this issue still exists.

![image](https://user-images.githubusercontent.com/10850600/120903239-48b81a00-c645-11eb-9e66-4e2be0493c3e.png)

[2021-06-09 00:17] matthchr commented on #835
@anthony-c-martin - you said:

I agree with this sentiment _in theory_. In practice it seems like it has a lot of problems:

1. Getting service teams to make the change universally is hard. As far as I know there is no linter rule or KPI on this particular topic in Swaggers which means that it's an easy mistake to make. If the solution to this problem is really to improve the Swaggers like you say

[2021-06-09 12:39] BenJ-Wisco opened #1749 "Microsoft.Security/pricings 2018-06-01 not available"
[Microsoft.Security/pricings](https://docs.microsoft.com/en-us/azure/templates/microsoft.security/2018-06-01/pricings?tabs=json) 2018-06-01 is not available for validation or Intellisense

[2021-06-10 13:20] fgheysels opened #1753 "Inconsistency between creating scheduledQueryRule via portal and through ARM"
I managed to create a scheduledQueryRule via the Azure Portal, and specified a `muteActionsDuration` of 12 hours, and a number of evaluation periods failing periods of 0.

When I export the template in the portal of this scheduledQueryRule, the ARM template looks like this  (only showing the relevant part):

[code]

Based on that export, I've created my own ARM template where I also specify `muteA

[2021-06-10 17:12] MWL88 opened #1754 "The latest API version for resource Microsoft.RecoveryServices/vaults/backupstorageconfig fails to deploy if the Microsoft.RecoveryServices/vaults resource is declared in the same template"
Deploying the template below, to an empty resource group, fails with a strange error. The `vaults` resource is successfully created, however, the `vaults/backupstorageconfig` resource fails.

[code]

The error message is:
[code]

If I wait about 60 seconds and _just_ redeploy the template, the template deploys successfully.

If I now update the API version for the `Microsoft.RecoveryServices/vault

[2021-06-18 16:25] oliverroer opened #1771 "Proposal: Make "name" optional on Microsoft.Authorization/roleAssignments"
This particular part of the design is a huge pain point when working with role assignments in ARM.

In the ARM template reference, the `name` property is marked as required must be a valid GUID.

If you do a few role assignments in ARM, that might work just fine for you, but once you really get going and start using ARM to create role assignments left and right, you really start to feel the pain.

[2021-06-21 22:25] anthony-c-martin commented on #847
Closed by #1691

[2021-06-21 22:25] #847 closed

[2021-06-21 22:25] anthony-c-martin commented on #861
Fixed by #1691

[2021-06-21 22:25] #861 closed

[2021-06-21 22:26] anthony-c-martin commented on #958
Fixed by #1691

[2021-06-21 22:26] #958 closed

[2021-06-21 22:26] anthony-c-martin commented on #1434
Fixed by #1691

[2021-06-21 22:26] #1434 closed

[2021-06-21 22:30] anthony-c-martin commented on #551
Fixed by #1691

Note that the `2018-07-01-preview` & `2018-03-01-preview` APIs appear to have been retired, but the `2019-06-01` API is available.

[2021-06-21 22:30] #551 closed

[2021-06-21 22:31] anthony-c-martin commented on #1227
Fixed by #1691

[2021-06-21 22:31] #1227 closed

[2021-06-22 12:18] oliverroer commented on #1548
Slightly related: I have also experienced issues with `microsoft.insights/scheduledqueryrules` in ARM.
Deploying with apiVersion `2020-05-01-preview` works just fine, but when using apiVersion `2021-02-01-preview`, the deployment will fail with the error `Alert rule payload cannot be empty`.

It seems that this is some general error message that has nothing to do with the underlying problem, which

[2021-07-01 11:31] Elyseum opened #1781 "Microsoft.Web/sites 2020-12-01 apiVersion warning"
Latest version is 2020-12-01:
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-12-01/sites?tabs=json

But for "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#", the last version available is '2018-11-01'.

VS / VSCode gives following warning:
"consider updating the value to one of the following: "2016-08-01", "2014-06-01", "2015-08-01",

[2021-07-02 12:36] leo-buneev opened #1785 "Warning about apiVersion (not yet added in 2019-04-01/deploymentTemplate.json)"
Hi,
I've tried to edit ARM template generated from Azure portal (with vscode-azurearmtools vscode extension), and there was a bunch of missing apiVersion warnings (`For full schema validation, consider updating the value to one of the following ...`).

Seems like 2019-04-01/deploymentTemplate.json needs an update for those.

"Microsoft.DocumentDB/databaseAccounts": 2021-05-15
"microsoft.insights/c

[2021-07-05 07:13] karataliu opened #1790 "condition should be evaluated before provider"
We have following template
[code]

When deploying to a region without this service, it will report below error:
[code]

This is unexpected since condition is already set to false.

[2021-07-05 21:57] mauriciojost commented on #1497
Same clueless issue being experienced here.

[2021-07-07 14:40] anthony-c-martin opened #1792 "Rename master branch -> main"
Now that the specs repo is planning a rename (https://github.com/Azure/azure-rest-api-specs/issues/15102), we should consider following suit in this repo.

[2021-07-15 14:22] JustinGrote opened #1800 "CreateUIDefinition.MultiVm.json 0.1.2-preview missing many items used in documentation that references same schema"
![image](https://user-images.githubusercontent.com/15258962/125804036-267bfbe5-08ae-4e00-aaeb-dd120ea315a7.png)

Also parameter config is not correct, does not include IsWizard
![image](https://user-images.githubusercontent.com/15258962/125804111-267acee7-7f18-40d7-add2-f02f161882a8.png)

[2021-07-16 14:20] nielsvdc commented on #1785
I can also acknowledge this for:
"Microsoft.AAD/domainServices": 2021-05-01
"Microsoft.Network/virtualNetworks": 2021-02-01
"Microsoft.Network/networkSecurityGroups": 2021-02-01

[2021-07-21 09:21] drewkg opened #1806 "Invalid Validation for Microsoft.Portal/dashboards"
When creating a Microsoft.Portal/dashboards, specifically for App Insights the schema identifies the following

"type": "Extension/AppInsightsExtension/PartType/AspNetOverviewPinnedPart"

as being invalid and shoudl be of type "Extension/HubsExtension/PartType/MarkdownPart\"

A full template can be found at https://raw.githubusercontent.com/drewkg/Azure/main/ARM/Resource/AppServiceWithMSIAppInsigh

[2021-08-03 22:53] nihonjinboy85 opened #1818 "Internal server error encountered when deploying Microsoft.Sql/servers/azureADOnlyAuthentications resource"
When deploying the following resource within a resource group ARM template, including the SQL server that it depends on:
[code]
I receive the following deployment error message:
[code]
Thanks in advance for any assistance in resolving this issue, and for maintaining such useful resources!

[2021-08-11 02:02] leni-msft opened #1829 "Schema generation on SDKAutomation is broken by generate-all regression"
For example, [the AutoPR generation pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1040457&view=logs&j=2b4a2910-f027-53b2-4397-cc9d62dced0f&t=8239b243-d1b9-5f8b-bfeb-b8cea9964242
) generation failed: due to
[code]

SDKAutomation pipeline is using `ts-node cmd/generateall "{\"localPath\":\"../azure-rest-api-specs\",\"readmeFiles\":[\"specification/securityinsights/resourc

[2021-08-11 02:04] leni-msft commented on #1829
@anthony-c-martin would you able to take a look?

[2021-08-18 19:18] meco0597 opened #1844 "Onboarding Microsoft.Purview to Schema Auto-Generation"
Microsoft.Purview is doing the GA sign off review for control plane and we need to onboard ourselves to the schema auto generation. Could we please get some help on this?

Here is a link to the swagger for the schema generation: [Purview GA Control Plane Swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/purview/resource-manager/Microsoft.Purview/stable/2021-07-01/purvi

[2021-08-18 20:37] anthony-c-martin commented on #1844
Here's the PR to onboard: https://github.com/Azure/azure-resource-manager-schemas/pull/1845

@jorgecotillo mind taking a look?

[2021-08-19 18:18] JCPuerto commented on #313
4 years later and this still an issue.

[2021-08-19 21:48] matthchr opened #1850 "Not all resources should inherit from ResourceBase"
Currently, all resources are joined with `ResourceBase`, see for example the beginning of the autogenerated spec:
[code]

This assumes that every resource supports every property defined in `ResourceBase`. That has always seemed like a reasonable assumption to me, but I recently learned that it isn't correct.

For example, according to [ARM tracked vs proxy resources](https://armwiki.azurewebsites

[2021-08-19 22:19] matthchr commented on #1850
@anthony-c-martin curious as to your thoughts on this

[2021-08-21 01:20] anthony-c-martin commented on #1844
Onboarding is done!

[2021-08-21 01:20] #1844 closed

[2021-08-24 17:19] anthony-c-martin commented on #1850
I agree - the vast majority of schemas are being automatically generated today; this generation process will pick up base resource properties as well. Generally if tags are supported by a resource type, they should be declared in the swagger, which is used to drive this generation. I don't see a huge amount of value in a shared base class which may not always be accurate in certain cases.

[2021-08-24 17:35] matthchr commented on #1850
Is there an easy path to changing this in the specs today (at least for autogenerated resources?)

[2021-08-30 21:25] reijoh commented on #548
Would it be easier to implement support for type Microsoft.Insights/diagnosticsettings and use scope instead when adding diagnosticsettings?

Example.:

[code]

[2021-09-01 10:41] junczhan opened #1877 "error thrown for extensionResources which is required for extendedLocation"
![image](https://user-images.githubusercontent.com/89912021/131658076-901bafd3-e7f5-4dcb-80bd-58deeb0e5214.png)

[2021-09-01 12:47] junczhan commented on #1877
email me junczhan@microsoft.com if you need more info

[2021-09-01 13:34] anthony-c-martin commented on #1877
@junczhan - `extensionResources` isn't a valid ARM Template JSON property, so the validation is correct here. I'll close this issue and follow up via email.

[2021-09-01 13:34] #1877 closed

[2021-09-02 14:59] reijoh commented on #548
@anthony-c-martin Is this issue being considered or will we just have to live with the warning? e.g. I get this warning when loding the template above in to VSCode using Azure Resource Manager (ARM) Tools Version: 0.15.2:

[code]

[2021-09-03 02:07] anthony-c-martin commented on #548
@reijoh - it'll require some fairly significant changes to schema generation to support natively in JSON schema, so I'll have to discuss with the team w.r.t prioritization. You're right though - the "scope" property which was added since the issue was raised does make this **MUCH** easier to solve within JSON schema than it would have been back in 2018.

This is a scenario we're actively trying to

[2021-09-07 13:31] junczhan opened #1885 "error thrown for extendedLocation in resource's property"
extendedLocation is needed for azure edge zone, we've been using it as part of our resource's property, but we've been using typescript generated template, now we're moving to static json template but it doesn't support it

![image](https://user-images.githubusercontent.com/89912021/132353428-2280616a-1f92-4736-b48b-3634191af82a.png)

[2021-09-07 13:33] junczhan commented on #1885
could contact me junczhan@microsoft.com for more info, don't usually check out github

[2021-09-07 22:41] matthchr opened #1886 "RoleAssignments has a 2020-10-01-preview API listed, but it doesn't actually work"
https://schema.management.azure.com/schemas/common/autogeneratedResources.json lists `ref": "https://schema.management.azure.com/schemas/2020-10-01-preview/Microsoft.Authorization.Authz.json#/unknown_resourceDefinitions/roleAssignments`, but if you actually try to deploy such a resource you'll get an error:

[code]

[2021-09-08 00:15] anthony-c-martin commented on #1886
We also ran into this with Bicep - I raised https://github.com/Azure/azure-rest-api-specs/issues/15604 for the service team to fix.

[2021-09-08 14:13] 50Wliu opened #1889 "Microsoft.Authorization/roleAssignments is not recognized"
I'm coming here from https://github.com/microsoft/vscode-azurearmtools/issues/1366. When writing an ARM template in VS Code, Microsoft.Authorization/roleAssignments shows as an unknown type:
![Microsoft.Authorization/roleAssignments unknown type](https://user-images.githubusercontent.com/2766036/132524837-fb321e21-a7f0-4812-ae0d-2742597239af.png)

Which is odd, because I do see it in the schemas:

[2021-09-08 14:20] anthony-c-martin commented on #1889
@StephenWeatherford - this resource should exist in the list of available resources (see here: https://github.com/Azure/azure-resource-manager-schemas/blob/53e06b4e3b361c011b643ef1262a23189490add8/schemas/common/autogeneratedResources.json#L1514)

This was added *relatively* recently - is it possible that the latest ARM tools release took place before this was added? Is there a way to easily check

[2021-09-08 23:20] apclouds commented on #1885
@junczhan what api-version where you using with the typescript generated template?

[2021-09-08 23:29] apclouds commented on #1790
Hi @karataliu is this error being returned on deployment or in validate?

[2021-09-08 23:35] apclouds commented on #1781
@anthony-c-martin do you know if this error is coming from our side?

[2021-09-09 04:39] anthony-c-martin commented on #1781
Yes - this is the message you get when the VSCode extension doesn't know about the schema. This schema was published a while back (https://github.com/Azure/azure-resource-manager-schemas/commits/main/schemas/2020-10-01/Microsoft.Web.json). @StephenWeatherford may be able to confirm if it's been bundled in the latest ARM Tools release or not. If not, then it might be worth pushing an update to pick

[2021-09-09 14:03] junczhan commented on #1885
Hi,

It’s 2020-11-01 and it’s virtual network template.

Best regards,
Junchen Zhang

From: Ángel Pérez ***@***.***>
Date: Thursday, September 9, 2021 at 7:20 AM
To: Azure/azure-resource-manager-schemas ***@***.***>
Cc: Junchen Zhang ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/azure-resource-manager-schemas] error thrown for extendedLocation in resource's property (#1885)

@junczhan<htt

[2021-09-09 16:44] StephenWeatherford commented on #1889
Good to know, quite likely then.  We can't currently pick up new schemas until Bhavya makes changes to accept the symbolic name changes.  I'll go ahead and close this out for now, thanks.

[2021-09-09 20:09] #1889 closed

[2021-09-09 20:21] #1792 closed

[2021-09-09 20:34] apclouds commented on #1754
Hi @MWL88 this is a service issue, not an issue in schemas. We added the service contacts above.

[2021-09-09 20:34] #1754 closed

[2021-09-09 20:46] anthony-c-martin commented on #1749
@BenJ-Wisco - this should be working, as long as you're using the subscription template schema in your template (`"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#"`).

Please reopen this if you're still seeing this issue with the subscription template schema.

[2021-09-09 20:46] #1749 closed

[2021-09-09 20:49] #1684 closed

[2021-09-09 20:51] stephaniezyen commented on #1683
Related: #1749

[2021-09-09 20:51] #1683 closed

[2021-09-09 20:52] stephaniezyen commented on #1609
@bmoore-msft

[2021-09-09 21:05] #1410 closed

[2021-09-09 21:07] #1283 closed

[2021-09-09 21:11] stephaniezyen commented on #1252
Should be fixed now.

[2021-09-09 21:11] #1252 closed

[2021-09-09 21:12] stephaniezyen commented on #1196
Should be fixed now.

[2021-09-09 21:12] #1196 closed

[2021-09-09 21:19] StephenWeatherford commented on #1781
The last snapshot was June 25, so we missed this.  We're currently blocked for picking up new schemas by https://github.com/microsoft/vscode-azurearmtools/issues/1324.  As soon as that is fixed, we'll try picking it up, hopefully within 2-3 weeks.

[2021-09-09 22:13] MWL88 commented on #1074
Thanks

[2021-09-09 22:13] #1074 closed

[2021-09-10 17:41] bmoore-msft commented on #1609
I don't know of any tools that will do this for you automatically - it would be relatively simple to parse the json and write out the files, but think you have to do next is orchestrate staging of those templates for the deployment.

Out of curiosity, why is the template so large?  I'm wondering if there are other optimizations to consider...

[2021-09-15 15:30] StephenWeatherford commented on #995
@viabhav-agar, @avirishuv, @amjads1 Any progress on this?  Thanks.

[2021-09-16 16:24] aditimalladi opened #1914 "Onboarding Microsoft.ExtendedLocation to Schema Auto-Generation"
Microsoft.ExtendedLocation is going GA and would like to onboard RP for Schema Auto Generation.
Could we please get help with this?
Here is the Swagger to onboard with autogen: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/extendedlocation/resource-manager/Microsoft.ExtendedLocation/stable/2021-08-15/customlocations.json

Happy to assist with any follow ups! Thanks.

[2021-09-16 17:30] anthony-c-martin commented on #1914
Thanks for raising this! I've created PR #1915 to enable this.

[2021-09-16 17:35] #1914 closed

[2021-09-23 22:44] stephaniezyen commented on #1551
Yes, Peering State is a read only property and as the name represents – it represents state of peering. This is needed to know the peering state which can either be connected, Disconnected or initialized.

[2021-09-24 18:58] anthony-c-martin commented on #548
Changes required:
* Add "scope" property here if resource supports extension scope: https://github.com/Azure/autorest.azureresourceschema/blob/2157db59533d600f6d7c803b017210ae3c1d8e2e/src/ResourceSchemaParser.cs#L360
* Modify generation pipeline to include extension resource references in the rg/sub/tenant/mg root schemas: https://github.com/Azure/azure-resource-manager-schemas/blob/33636eb0c1b7da

[2021-09-24 20:45] stephaniezyen commented on #1515
Merged as per the PR above.

[2021-09-24 20:45] #1515 closed

[2021-09-27 20:47] anthony-c-martin commented on #1195
Fixed by #1525

[2021-09-27 20:47] #1195 closed

[2021-09-27 20:48] anthony-c-martin commented on #759
Fixed by #1525

[2021-09-27 20:48] #759 closed

[2021-09-28 13:28] anthony-c-martin commented on #1208
I've raised https://github.com/Azure/autorest.azureresourceschema/issues/72 for this.

[2021-09-29 12:44] metaxasa commented on #1551
@stephaniezyen why was this issue closed? As the `peeringState` property is read-only, it shouldn't be present in the ARM template schema.

[2021-09-29 16:46] stephaniezyen commented on #1551
@metaxasa my mistake, was in contact with the engineers on the team responsible for this schema and misunderstood the question. I have reopened the issue and am having internal discussions with them.

[2021-09-29 17:24] metaxasa commented on #1551
@stephaniezyen thank you!

[2021-09-30 10:35] harelbr commented on #956
Thanks for letting us know about this.
We've created a work item on our backlog to address this issue.

[2021-09-30 20:35] anthony-c-martin commented on #1850
Implementation notes - need to collapse the `allOf` in the following places:

https://github.com/Azure/azure-resource-manager-schemas/blob/6cbf2a9e2485a6eca89ca7801daa5f7aafe5c390/schemas/common/autogeneratedResources.json#L8-L10
https://github.com/Azure/azure-resource-manager-schemas/blob/6cbf2a9e2485a6eca89ca7801daa5f7aafe5c390/schemas/2018-05-01/subscriptionDeploymentTemplate.json#L498-L500
htt

[2021-09-30 20:43] anthony-c-martin commented on #835
Implementation notes: Fix would probably have to go here: https://github.com/Azure/autorest.azureresourceschema/blob/2157db59533d600f6d7c803b017210ae3c1d8e2e/src/ResourceSchemaParser.cs#L516-L544

[2021-10-01 18:09] stephaniezyen commented on #697
@FranckSix does this fix your problem?
@jaspkaur28 if yes, can you close this issue?

[2021-10-03 15:02] jaspkaur28 commented on #313
@JCPuerto Automation team is getting it triaged this week , will share an ETA for the fix soon.

[2021-10-06 05:33] pvrk commented on #1555
@tfitzmac: Can you please help us here? The swagger has all the right values and the documentation too is reflecting that. But the validation seems to be failing. Where we should check?

[2021-10-06 05:40] pvrk commented on #399
@jeffpatton1971 : Not sure if this is what you were looking for:

![image](https://user-images.githubusercontent.com/17268738/136146543-88452ccd-bca3-4854-a8a5-9b20615368f5.png)

[2021-10-06 08:50] metaxasa commented on #1486
Hi @apclouds - is there anything you can share about the outcome of those discussions? Alternatively, should we be raising an issue elsewhere in order to get this resolved? Thanks!

[2021-10-06 09:09] metaxasa commented on #1486
Looks like there's at least two other RPs in a similar situation:

[Authorizations](https://github.com/Azure/azure-rest-api-specs/issues/12419)
[Stream Analytics](https://github.com/Azure/azure-rest-api-specs/issues/14242)

[2021-10-06 09:53] anthony-c-martin commented on #399
I think this issue has since been fixed with #1451. We currently have this resource available in these versions: https://github.com/Azure/azure-resource-manager-schemas/blob/52a0fdd4c8f69c039f68ddcbb89543419114e3a1/generator/resources.json#L6064-L6079

@jeffpatton1971 - please reopen if you disagree.

[2021-10-06 09:53] #399 closed

[2021-10-06 10:15] anthony-c-martin commented on #1555
I think this an issue with the ARM Tools VSCode extension, and not the schemas. In the example template shared above, if I delete the "schedulePolicy" & "retentionPolicy" properties, validation passes, so the schema generator has picked up your swagger correctly and does understand that "AzureIaasVM" is a valid value.

JSON schema validation is based on pattern matching, so if a closer match is fo

[2021-10-06 10:15] #1555 closed

[2021-10-08 08:10] asos-andrewgoad opened #1951 "Missing Microsoft.Web/connections/accessPolicies"
It appears that Microsoft.Web/connections/accessPolicies apiVersion 2016-06-01 is missing

[code]

[2021-10-11 06:26] juniwang opened #1956 "Onboarding to the autogeneration pipeline - Web PubSub"
Hi, the auto-gen for Web PubSub was disabled somehow. Could you please enable it? a stable api-version is ready for public and we are targeting Nov for GA.
[code]

[2021-10-14 20:34] #995 closed

[2021-10-14 20:35] anthony-c-martin commented on #1535
Fixed by #1924

[2021-10-14 20:35] #1535 closed

[2021-10-18 20:17] stephaniezyen commented on #1355
Closed here: https://github.com/Azure/azure-rest-api-specs/issues/11986

[2021-10-20 01:20] msHich commented on #1806
@stephaniezyen I checked the dashboard swagger and it looks correct. The dashboards swagger is slightly different than other swaggers in that we use polymorphism to describe 1 specific part(Markdown part) but don’t specify all the other parts, for that we use discriminator on the type property. This specific description is because of encryption requirements for the markdown part.
The reason we don

[2021-10-21 11:58] santo2 opened #1983 "Sendgrid Account resource typ in ARM not available anymore?"
Hi,

we a resource of type "sendgrid account" that we added to our ARM template.
when we now look at the azure portal, we see that this sendgrid account has been mitigated

`This SendGrid account resource has been migrated to a Software as a Service (SaaS) account.`

We see that a resource of type SaaS is added for each sendgrid account.
So what does that mean in terms of ARM? Is this completely r

[2021-10-21 19:57] #1983 closed

[2021-10-21 19:58] #1951 closed

[2021-11-01 12:26] ahughes257 commented on #521
Still an issue getting the same badrequest when not specifying this optional parameter...

2021-11-01T12:09:37.8684681Z ##[error]BadRequest: The parameter accessPolicies is not specified.

[2021-11-01 13:44] anthony-c-martin commented on #521
I think this issue was most likely closed as it's not technically a schemas issue - as @seanbamsft mentioned, there are legitimate scenarios where `accessPolicies` can be `null`, which is why it's non-required in the schema.

@bmoore-msft / @alex-frankel - do we have any guidance to share on the 'best practice' for managing a KeyVault with IaC, and avoiding the issue with `accessPolicies` being wi

[2021-11-01 16:31] bmoore-msft commented on #521
For IaC I'm not sure we have a good option/pattern, if accessPolicies is required for a declarative PUT - aside from declaring the actual accessPolicies you want.  If accessPolicies is optional on ```recover```, I wonder if it can be made optional on ```createMode=default```.  Not sure what the implications of that would be ( @seanbamsft  ) but that seems to be what the thread is suggesting...

[2021-11-02 01:57] satonaoki commented on #852
I encountered the same issue. Any update on this issue?

[2021-11-02 08:57] anthony-c-martin commented on #852
I've raised https://github.com/Azure/azure-rest-api-specs/issues/16632 for this

[2021-11-02 13:31] anthony-c-martin commented on #1497
The storage RP team has confirmed that this has since been fixed - closing.

[2021-11-02 13:31] #1497 closed

[2021-11-02 13:33] anthony-c-martin commented on #793
Fixed by #1130

[2021-11-02 13:33] #793 closed

[2021-11-02 13:36] anthony-c-martin commented on #698
Fixed by #1130

[2021-11-07 23:22] Drewm3 commented on #1686
The VM sizes array is no longer maintained. You must use the SKUs API to get the list of currently available VM sizes.

[2021-11-07 23:35] Drewm3 commented on #1052
This is a feature request, and not a schema issue. The issue in this repro should be closed, and instead the request should be opened in the upcoming UserVoice replacement.

[2021-11-08 11:37] anthony-c-martin commented on #1052
Closing as per @Drewm3's comment.

[2021-11-08 11:37] #1052 closed

[2021-11-08 11:39] anthony-c-martin commented on #1686
Closing as per @Drewm3's comment.

[2021-11-08 11:39] #1686 closed

[2021-11-08 13:21] shaaga opened #2037 "Onbaording "Microsoft.BareMetalInfrastructure" to autogen"
I am trying to onboard "Microsoft.BareMetalInfrastructure" to autogen as part of "Schema Completeness KPI" requirement from ARM team. I am following steps mentioned in this doc: https://github.com/Azure/azure-resource-manager-schemas/blob/main/generator/README.md#onboarding-teams-to-autogeneration-pipeline
I have been able to follow till "Running commands" , pasting the output of each comman below

[2021-11-08 19:27] anthony-c-martin commented on #2037
@shaaga - `Microsoft.BareMetalInfrastructure` already is onboarded for auto generation. There are no resource PUT APIs defined in your swagger, so there are no possible template resources. Autogeneration runs for this RP and simply doesn't output any resources.

If your RP legitimately supports PUT, then you will need to declare support for this via your swagger spec.

[2021-11-08 19:27] #2037 closed

[2021-11-09 00:10] mariohdez opened #2039 "Microsoft.Chaos Target Deployment Additional Properties Issue"
Hi team,

I am on the Microsoft.Chaos RP team and we are attempting to deploy our "target" resources but running into an issue when attempting to save the resource's properties that belong to the additionalProperties definition.

Here is the link to our up-to-date swagger where we define additional properties on the target properties type: https://github.com/Azure/azure-rest-api-specs/blob/f2aaaa7

[2021-11-11 20:28] jongio commented on #1806
I ran into this today and would like to get it resolved as it spews some ugly warnings

[2021-11-11 20:36] StephenWeatherford commented on #1785
@jorgecotillo Status, please?  This affects everything in the Microsoft.Network namespace in https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#. Nothing exists for Microsoft.network past 2020-11-01:

[code]

[2021-11-17 22:28] zapadoody commented on #521
Simply including "accessPolicies": [] is a perfect workaround for me. It seems like a documentation issue, maybe update the documentation `accessPolicies` as required but nullable.

[2021-11-19 19:29] frrossms opened #2061 "Onboard Microsoft.DocumentDB for automatic schema generation"
The resource provider Microsoft.DocumentDB is currently opted out of schema autogeneration. We would like to opt back in. Please let me know (internal username frross) what I need to do to make that happen.

[2021-11-23 11:26] anthony-c-martin commented on #2061
@frrossms - Microsoft.DocumentDB is actually currently opted in - see https://github.com/Azure/azure-resource-manager-schemas/blob/480dffb7abe4bb6d46fdfeb62c7c5bfad71e6146/onboarded-report/result.json#L274-L279

Are you seeing issues with the automatic generation?

[2021-11-23 12:02] hugobarona opened #2063 "ARM Storage schema does not support static website feature in Storage Accounts"
Hi there,

we are trying to follow the IaC principle and create our resources during deployment using ARM/Bicep templates. We have some storage accounts using the Static Website feature, but we noticed that this feature is not supported by the ARM Storage schema, so we cannot ensure that the storage account getting created has the static website enabled. We can work around this with some AZ CLI or

[2021-11-23 16:56] frrossms commented on #2061
I guess the dashboard was running behind or something. It looks like it's functioning now. Thanks!

[2021-11-23 16:56] #2061 closed

[2021-12-03 07:43] leni-msft opened #2084 "Schema autogeneration pipeline failed due to summary.log not found"
cmderr	[generateScript.sh] Error: ENOENT: no such file or directory, open '/home/vsts/work/1/s/azure-resource-manager-schemas_tmp/schm_azspc/summary.log'

https://github.com/Azure/azure-rest-api-specs/pull/16953/checks?check_run_id=4404634703

[2021-12-03 07:44] leni-msft commented on #2084
@jorgecotillo or @anthony-c-martin would you be able to take a look? It seems a regression issue.

[2021-12-03 22:48] jorgecotillo commented on #2084
Hey Lei, I am not able to repro, I just run:

npm run generate-all -- --local-path "C:\azupdate\azure-rest-api-specs" --output-path "C:\tmp\output.json" --readme-files "C:\azupdate\azure-rest-api-specs\specification\recoveryservicesbackup\resource-manager\readme.md"

Locally and it worked for me, I'll try with linux to see if I find a different behavior.

[2021-12-03 22:48] jorgecotillo commented on #2084
Forgot to mention that I ran it from main branch.

[2021-12-05 12:20] leni-msft commented on #2084
Hi Jorge, I could repro in github codespace - a clean environment:
[code]
please try cleaning your temp folder, specifically `path.join(os.tmpdir(), 'schm_azspc')`

[2021-12-06 17:22] jorgecotillo commented on #2084
Yeah, you were right, cleaning or using a different temp folder repro the issue, I just created a PR: #2087 that fixes the issue.

Thanks for bringing this to our attention.

[2021-12-06 17:25] #2084 closed

[2021-12-09 18:28] oviliz opened #2091 "ARM Storage Account ipRules validation fails but deployed fine"
Validating an ipRules after adding to an existing storage account, fails (I'm using Azure DevOps for CI/CD; also tried hard coding the IP directly instead of using a parameter):
![image](https://user-images.githubusercontent.com/73616/145453293-7c198d13-e60d-46e7-ac96-bd7c15325b5d.png)
![image](https://user-images.githubusercontent.com/73616/145453606-ec29bbf3-df24-4ff2-882a-1a84a2ff6cfe.png)
Repo

[2021-12-11 19:56] Bab95 opened #2098 "Microsoft.Network/frontdoors/frontendEndpoints/customHttpsConfiguration schema missing"
Schema for this resource is not available but i can see this resource in the swagger docs. Is there a bug in the generator.

[2021-12-13 14:43] anthony-c-martin commented on #2098
@Bab95 would you mind giving a pointer to where you see this resource in the swagger docs?

I could only find references to a POST action (example [here](https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-04-01/frontdoor.json#L492)) - ARM Templates only support PUTable resources, and not

[2021-12-14 09:52] leni-msft opened #2103 "cmderr [generateScript.sh] (node:2499) UnhandledPromiseRejectionWarning: SyntaxError: Unexpected end of JSON input"
There're some error log when generating schemas in SDK automation pipeline. It seems some bug in method getCurrentTemplateRefs of generat.ts.

CI result:
https://github.com/Azure/azure-rest-api-specs/pull/16868/checks?check_run_id=4478003597
There're error logs inside, but the schemas generated successfully.

Another CI:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1244737&view=

[2021-12-14 09:52] leni-msft commented on #2103
@jorgecotillo @anthony-c-martin would you be able to take a look?

[2021-12-17 10:58] torivara commented on #313
I also got this issue. Will this be fixed, or do I need to create some PowerShell workaround here?

[2021-12-17 11:08] drewkg commented on #313
@jaspkaur28 has there been any update on this issue?

[2021-12-17 15:49] anthony-c-martin commented on #2098
Responded offline on Teams:

So looks like there's a read-only property named customHttpsConfiguration on the frontendEndpoints resource. It's not present in the schema because it has been marked as read-only: https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/frontdoor/resource-manager/Microsoft.Network/stable/2019-04-01/frontdoor.json#L1461-

[2021-12-17 15:49] anthony-c-martin commented on #2098
Closing as this isn't an issue with template schemas.

[2021-12-17 15:49] #2098 closed

[2022-01-07 08:54] svaenn commented on #1806
Bicep v0.4.1124 has a new feature to disable specific alerts like this one. @jongio also made nice a video showing this feature.

[2022-01-07 09:00] drewkg commented on #1806
Very useful for Bicep files, but what about in ARM, or even for validating the ARM templates that Bicep creates with tools such as ARM-TTK.  This is a schema issue, not a tooling issue.

[2022-01-10 13:14] santo2 opened #2172 "CosmosDB Container conflict on partitionkey with version when deploying - can not run ARM deployment with same values"
Given I have a container that was created by code,
And I have exported the template, and converted it to bicep
And In the ARM template I see there is a version in the partitionkey property
When I try to deploy this container via "az deployment group create (mode incremental)"
Then the deployment results in status "conflict" on the container resource

Note: I see this only happens for the container

[2022-01-10 17:55] jongio commented on #1806
with v0.4.1124 you can now disable the warning with #disable-next-line BPC036

I get into details in this video: https://youtu.be/LpccVQPnlXw

[2022-01-13 05:42] kenmuse opened #2176 "Schema for Microsoft.ApiManagement/service/templates incorrect"
The schema restricts template names to starting with names which have a lowercase first letter:
https://github.com/Azure/azure-resource-manager-schemas/blob/109fd9f952bcb454c3e49490940796c977d36ba5/schemas/2021-08-01/Microsoft.ApiManagement.json#L2375-L2389
However, the service will report a 404 NotFound error when attempting to create or modify resources using these names. Each name must start wi

[2022-01-13 14:48] anthony-c-martin commented on #2176
Thanks for reporting this! I've raised https://github.com/Azure/azure-rest-api-specs/issues/17340 to track the root cause. Once fixed, schemas & bicep types will be automatically updated - closing this issue.

[2022-01-13 14:48] #2176 closed

[2022-01-13 23:01] pmcilreavy commented on #1542
I'm still seeing this issue. It's a real problem as it makes the extension almost unusable. You end up seeing so many validation errors for things that aren't validation errors (like numberOfWorkers) that it makes it hard to find the real errors. It really seems like a high priority issue. Many of the MSFT docs direct users to use the ARM VS Code extension to develop and validate their templates b

[2022-01-17 22:07] jjohnston-cpacket opened #2180 "When using New Public Key Option from CredentialsCombo-linux template validation fails"
When using the CredentialsCombo-linux example from https://portal.azure.com/?feature.customPortal=false#blade/Microsoft_Azure_CreateUIDef/SandboxBlade the template produces this error on validation.

[code]

![image](https://user-images.githubusercontent.com/74691149/149841664-c7817672-f01d-4ec4-98c7-2d6ed68f7ec6.png)
code snipped for the combo box
[code]

In addition, it is not clear where the cu

[2022-01-26 15:37] santo2 commented on #2172
is this the correct place to post? I don't see a a very fast response time on the last mentioned issues

[2022-01-29 09:02] karataliu commented on #1790
ping @apclouds is there a fix to this?

[2022-02-01 09:00] anthony-c-martin commented on #1542
I've responded to https://github.com/microsoft/vscode-azurearmtools/issues/1240 - ultimately I think we're going as far as we realistically can with a pure JSON schema solution; I think we will need to collaborate on building more intelligence into the extension to solve this problem.

[2022-02-08 02:26] karataliu commented on #1790
@apclouds  could you please suggest why closing this issue?

[2022-02-15 18:42] dagrooms52 opened #2204 "Autorest Installation Fails in Manual Generator Script"
I'm trying to run the `generate-single` command with a local repo path.

I'm unable to install or start the `autorest/azureresourceschema` extension, see output below. Versions I tried:
  - LTS: node 16.14.0, npm 8.3.1
  - Autorest suggested version: node 14.19.0, npm 6.14.16 (from message "autorest has not been tested on node versions >14")

[code]

Is there a known working node/npm version I can

[2022-02-21 15:35] smartin85 commented on #834
Isn´t this just a problem with the monaco-editor on the UI?
See https://github.com/microsoft/monaco-editor/issues/1331

I would also like to use JSON Schema in the web editor.

[2022-03-02 00:14] jonpayne opened #2229 "Onboarding Microsoft.Media for auto-generation"
Please could the files under basePath `mediaservices/resource-manager` be onboarded for auto-generation.

The files under basePath `videoanalyzer/resource-manager` should **not** be onboarded at this time.

If possible, the `Microsoft.Media/mediaservices/mediaGraphs` resource should also be excluded.

[2022-03-02 02:35] #2103 closed

[2022-03-08 14:53] CHDAFNI-MSFT opened #2242 "apiProfile: 2020-09-01-hybrid - missing from schema - deploymentTemplate.json"
The latest deploymentTemplate.json I've found is from 2019-04-01 [https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json](https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json) - I don't believe there's a deploymentTemplate.json schema that reflects the latest apiProfile: "2020-09-01-hybrid" - as listed in [documentation](https://docs.microsoft.com/

[2022-03-09 08:41] shubhie267 opened #2244 "Unable to load schema from 'https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json'. No schema request service available"
![image](https://user-images.githubusercontent.com/39084244/157404457-6ce9d19d-b1ca-4c50-8a9e-c39cedabac81.png)

[2022-03-09 15:11] feliasson commented on #521
No, setting that empty array would wipe any access policies already there until applied again, that's the whole issue basicly, we are required to input the accessPolicies and therefor wiping anything there. That in combination with no real support for checking if resources are already existent within ARM/bicep makes this a huge issue.

ANY UPDATES SOON?

[2022-03-09 21:50] bmoore-msft commented on #521
KeyVault now supports data plane RBAC:

https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli

So this not only creates another scenario where accessPolicies:[] is not required, but separates vaults and permissions, so you don't have the consequences of specifying an empty array on a subsequent deployment.

[2022-03-10 01:59] michaelwstark commented on #521
My team moved to RBAC keyvaults specifically to avoid this problem while building out our new services.  Doing so completely mitigated the problem I described earlier in the thread.

[2022-03-11 12:25] metaxasa commented on #1785
@jorgecotillo is there an eta to fix this? For example, I note that "Microsoft.AAD/domainServices": 2021-05-01 still seems to be missing.

[2022-03-15 03:26] jorgecotillo commented on #1785
Microsoft.Network is disabled for autogen, so they need to manually update the schemas. @stephaniezyen for awareness, we need to contact NRP with an ETA.

[2022-03-15 03:28] jorgecotillo commented on #1785
Same case as the one from Stephen, Microsoft.AAD is disabled for schema autogeneration so they need to manually update their schemas. @stephaniezyen for awareness.

[2022-03-15 03:48] jorgecotillo commented on #1785
@StephenWeatherford does the extension need a schema update? These RPs are onboarded into autogeneration which means they are not located directly under 2019-04-01/deploymentTemplate.json, instead these autogenerated schemas are referenced here:

https://github.com/Azure/azure-resource-manager-schemas/blob/fb30570ffa0d01844ddaa9633e1767849ed72b89/schemas/2019-04-01/deploymentTemplate.json#L1898

A

[2022-03-21 16:29] jeffpatton1971 opened #2264 "Microsoft.Network/VirtualNetworkGateway ApiVersion of 2021-05-01"
I am assuming this is actually correct as it's documented in two different locations.

[Rest API](https://docs.microsoft.com/en-us/rest/api/network-gateway/virtual-network-gateways/create-or-update)

[Azure ARM Templates](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2021-05-01/virtualnetworkgateways)

This schema appears to be missing from the [2021-05-01](https://github.com/

[2022-04-02 10:17] Bartolomeus-649 opened #2293 "Schemas not listed/available in Visual Studio"
How come none the Azure ARM schemas show up in Visual studio?

![image](https://user-images.githubusercontent.com/7513795/161378155-6b892d46-a49d-427d-b62e-1e241d33dc87.png)
The schema you see from xxx is the current schema used by the current template, and that's why it is shown in the list.

Also, IntelliSense does not seem to be aware of any ARM schemas.
![image](https://user-images.githubuserc

[2022-04-25 13:59] chunliu opened #2331 "Where can I find the schema of Microsoft.Network/bastionHosts 2021-05-01?"
The latest version listed in 2019-04-01 deploymentTemplate.json is 2020-11-01 which is quite different from version 2021-05-01. But I cannot seem to find the schema of Microsoft.Network.json for version 2021-05-01. Did I miss anything?

[2022-04-25 15:57] jago2136 opened #2332 "Onboard Azure Virtual Network Manager Resources"
## Proposal
We would like to onboard azure virtual network manager resources to daily generation.

## Potential Blocker
1. Our resources are contained under basepath 'network/resource-manager', which appears to be disable for autogen here https://github.com/Azure/azure-resource-manager-schemas/blob/main/generator/autogenlist.ts Are we able to onbaord just our resources, which are currently within

[2022-04-26 01:40] chunliu commented on #1785
When can we expect a fix on this?

[2022-04-26 01:43] chunliu commented on #2331
#1785

[2022-04-28 17:24] StephenWeatherford commented on #1785
I'll be releasing a new version in the next week or so, we'll see if that fixes it.

[2022-05-04 20:43] stephaniezyen commented on #2264
#1785

[2022-05-04 20:50] stephaniezyen commented on #2180
Is this issue still happening? @jjohnston-cpacket

[2022-05-04 20:52] stephaniezyen commented on #2172
Not a schemas issue, looks like it's being tracked in the bicep issue mentioned above.

[2022-05-04 20:52] #2172 closed

[2022-05-05 15:17] jjohnston-cpacket commented on #2180
@stephaniezyen yes this is still a problem.

[2022-05-05 17:05] jorgecotillo commented on #2244
This is a Portal issue, @stephaniezyen do we have a Portal contact? I just tried now and seems like the schemas are not recognized. Please not that this is not a blocking issue because the intent is not to use the Portal to author a template instead you can either use Visual Studio or VSCode (using ARM VSCode extension).

I'll close this issue for now since is not schemas related, we'll try to do

[2022-05-05 17:05] #2244 closed

[2022-05-05 17:14] jorgecotillo commented on #2242
@CHDAFNI-MSFT I'll like to understand a little bit more your request, is it because is missing resource providers? In this case, to actually prevent adding new api-versions (not api-profiles, since profiles seems to be an Azure Stack concept in this case, unless I am missunderstanding), we have a reference to all autogenerated schemas, see here:
https://github.com/Azure/azure-resource-manager-sche

[2022-05-05 17:31] jorgecotillo commented on #2204
@[dagrooms52](https://github.com/dagrooms52) sorry for the delay, do you mind pasting your generate-single command please? Is this still happening?

Normally I'd cd into the schemas\generator directory and run: `npm ci` then run my generate-single command.

[2022-05-05 17:38] jorgecotillo commented on #2180
@jjohnston-cpacket This is not a schemas issue, it could be a Portal thing. I can help debugging though but need more information, what region are you using? what linux distro? I tried creating a VM from the Portal (latest ubuntu distro) and worked as expected. Are you creating your own UI Definition?

[2022-05-05 18:36] jjohnston-cpacket commented on #2180
You can see the issue here. All the code is exposed.  https://github.com/jjohnston-cpacket/tailscale-arm-template -> Deploy to Azure Button.

[2022-05-05 20:12] dagrooms52 commented on #2204
I forget what I was doing when I opened this issue. Can you add the `npm ci` step before the generate command to the documentation? Thanks for the help 🙂

[2022-05-06 17:48] stephaniezyen commented on #2293
@StephenWeatherford can you take a look at this?

[2022-05-06 20:22] jorgecotillo commented on #2180
@[jjohnston-cpacket](https://github.com/jjohnston-cpacket) this is not an ARM Schemas issue, if you create a VM via the Portal using the existing market place, it gets successfully generated. Seems like the problem is with your custom UI Definition which is outside of the ARM Schemas scope. @bmoore-msft do you know who to contact to get assistance when building Custom UI definitions?

[2022-05-06 22:03] #2229 closed

[2022-05-07 01:35] StephenWeatherford commented on #1785
Should release next week.

<img width="682" alt="image" src="https://user-images.githubusercontent.com/6913354/167232490-36c34edd-6cbc-416e-b2b7-1e87a3a7d96a.png">

<img width="613" alt="image" src="https://user-images.githubusercontent.com/6913354/167232749-b959392a-5758-417e-8f91-f34aad939cfb.png">

<img width="593" alt="image" src="https://user-images.githubusercontent.com/6913354/167232770-fe4

[2022-05-07 01:37] StephenWeatherford commented on #1785
https://github.com/microsoft/vscode-azurearmtools/pull/1482

[2022-05-07 17:29] StephenWeatherford commented on #1785
Okay, not everything is fixed.

WORKING:
"Microsoft.DocumentDB/databaseAccounts"
"microsoft.insights/components"
"microsoft.insights/components/ProactiveDetectionConfigs"
"Microsoft.Storage/storageAccounts"

@jorgecotillo
Here are some that are still missing:

Microsoft.AAD/domainServices: Missing 2021-05-01
Microsoft.Network/virtualNetworks: latest is 2020-11-01, missing 2021-02-01, 2021-03-01, 2

[2022-05-07 17:58] jorgecotillo commented on #1785
Yes, is known, @stephaniezyen is working with the respective teams to get them committed to manually update their schemas.

[2022-05-09 13:33] santo2 commented on #2172
@stephaniezyen it is a schema issue and has been discussed with the PG team via a support request in the azure portal. RamaRag mentioned this is a known issue but it does not have a high priority and he would be updating us on this ticket, so could you please re-open this until it's fixed?

the latest version of the schema gives the issues mentioned above. We went back to schema version 2020-04-01

[2022-05-10 08:02] chunliu commented on #1785
@jorgecotillo The 2021-08-01 and 2021-12-01-preview of Microsoft.ApiManagement.json seems missing from the `autogeneratedResources.json`. I can find the versions in their corresponding source folders, but not in the https://schema.management.azure.com/schemas/common/autogeneratedResources.json. Can you please check?

[2022-05-10 19:48] jorgecotillo commented on #2172
@santo2 when you say PG - do you mean CosmosDB team right? just to be fully sure.
If there's a ticket on their side, we'll reach out to them to get a tentative ETAs, since is not on our control we cannot guarantee a specific fix date.

The way that Schemas are generated is a complex process but in this specific case what the generation does is, it looks at all properties from the PUT body (one of

[2022-05-11 17:56] StephenWeatherford commented on #2293
Tracking in devdiv internal bug 1538650

[2022-05-13 20:26] bmoore-msft commented on #2180
This is a known (long standing) issue - but will check on it...

[2022-05-17 21:55] stephaniezyen commented on #2331
Reached out to bastionHosts RP on this issue

[2022-05-17 21:55] stephaniezyen commented on #2264
Reached out to VirtualNetworkGateway RP

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #2379 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-25 22:45] limingu opened #2388 "Onboard NGINX.NGINXPLUS/deployments 2021-05-01-preview"
NGINX.NGINXPLUS has been public preview. It has the swagger in public repo. https://github.com/Azure/azure-rest-api-specs/blob/main/specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2021-05-01-preview/swagger.json

But it didn't autogenerate the schema.

Even when I try to manually generate the schema, the command: npm run generate-single -- --base-path nginx/resource-manager
didn't gen

[2022-05-27 23:09] StephenWeatherford commented on #1785
These fixes (and related) were released in ARM Tools for VS Code 0.15.7 on 5/11 (https://github.com/microsoft/vscode-azurearmtools/releases/tag/v0.15.7):
  "Microsoft.DocumentDB/databaseAccounts"
  "microsoft.insights/components"
  "microsoft.insights/components/ProactiveDetectionConfigs"
  "Microsoft.Storage/storageAccounts"

[2022-06-08 22:39] stephaniezyen commented on #2388
@leni-msft @jorgecotillo @apclouds Lei, do you know if we are restricting non-Microsoft namespaces from autogeneration?

[2022-06-28 07:43] Archomeda commented on #1030
More than a year later and it's still there. I'm glad I came across this before I started trying anything, but sadly, ARM documentation is very bad in general.

[2022-06-28 10:21] isolenov opened #2444 "Onboarding Microsoft.ManagedIdentity"
We would like to onboard azure Microsoft.ManagedIdentity to daily generation.

Microsoft.ManagedIdentity is opt-out according to  https://github.com/Azure/azure-resource-manager-schemas/blob/main/generator/autogenlist.ts

Taking in account that template **schema was not updated since 2018** can we have some kind of changes preview to make sure that current templates would not break?

**Please let

[2022-06-28 12:46] anthony-c-martin commented on #2444
You should be able to:
1. Fork this repo
2. Make the change to `autogenlist.ts` to enable your RP
3. Run the [generate-types](https://github.com/Azure/azure-resource-manager-schemas/actions/workflows/generate-types.yml) GitHub action in your fork, with path set to "msi":
    ![image](https://user-images.githubusercontent.com/38542602/176181816-0cf56bcf-e860-4653-8342-3ea1db697fc0.png)
5. When comp

[2022-06-28 17:23] anthony-c-martin commented on #2444
@serhangursoy-microsoft - looks good, thanks for sharing. Next steps - just submit a PR to this repo to remove the `disabledForAutogen` config

[2022-06-29 08:54] serhangursoy-microsoft commented on #2444
@anthony-c-martin thanks, here is the PR to this repo containing changes from forked repo's main: https://github.com/Azure/azure-resource-manager-schemas/pull/2445

[2022-07-01 02:25] anthony-c-martin commented on #2388
This is most likely being excluded because of this:
https://github.com/Azure/azure-resource-manager-schemas/blob/bf511e5f01891144d4055ac15044e2d0cb1b85fb/generator/constants.ts#L12

[2022-07-01 18:49] limingu commented on #2388
Thanks, @anthony-c-martin! That explained why the auto generation does nothing. Any suggestion how we can fix it? This is blocking NGINX.NGINXPLUS to auto generate the schemas.

[2022-07-04 11:52] kacperoman opened #2461 "Microsoft.Web/connections - Outlook without OAuth"
Hello,
is there any way to define an Outlook connector with credentials? Default behavior uses OAuth, which needs to be manually added after a deployment. We would love to have the possibility to skip this manual step and implement the credentials inside of our Bicep template.
Our template looks like this:
[code]

I hope this is a right place to ask 😣

[2022-07-05 17:49] matthchr opened #2462 "Deleted versions of Microsoft.Authorization?"
It looks like (7a704f59e734099cef4a7fba901cca4fb0a5224d)[https://github.com/Azure/azure-resource-manager-schemas/commit/7a704f59e734099cef4a7fba901cca4fb0a5224d] removed a bunch of Microsoft.Authorization preview versions from the autogenerated JSON.

As far as I can tell, these versions are still supported and still exist in Swagger.

Was this removal intentional?

[2022-07-05 18:08] matthchr commented on #2462
FWIW I just confirmed that at least 2020-08-01-preview works.

[2022-07-05 18:23] jeskew commented on #2462
https://github.com/Azure/bicep/issues/6610 was caused by types missing from the provider Swagger, so I don't believe it is related to the issue reported.

[2022-07-12 20:58] jorgecotillo commented on #2462
This is issue happens because the spec contains duplicate paths, the spec specifies a subscription scope path:

https://github.com/Azure/azure-rest-api-specs/blob/7f80a452b284a2cbc57c65ecc6e8224360d72657/specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-12-01-preview/authorization-AccessReviewCalls.json#L66

But also include a {scope} parameter, {scope} parameter su

[2022-07-17 15:00] taylor-bain commented on #313
What on earth is going on here? 5yr old issue and still no progress? Scheduling the runbooks declaratively feels like a pretty obvious requirement to me here, yet it's the only part in the process that isn't manageable. This is really really poor, Microsoft. Not only this, the feedback has been all but non-existent.

[2022-07-18 16:40] alex-frankel commented on #313
The best place to raise an issue like this is via an Azure support case as there are SLAs for providing you with a clear response on what the plan is for resolving the issue (if it exists) or if there are workarounds. Otherwise, you can track responses to this issue thread.

[2022-07-21 10:56] #2379 closed

[2022-07-21 16:43] phi-code opened #2482 "[Microsoft.Web/sites/extensions] ZipDeploy extension name not listed in schema"
I found references of the ZipDeploy resource over the internet, but it is missing from the documentation.
Some examples:
`https://github.com/projectkudu/kudu/wiki/MSDeploy-VS.-ZipDeploy`
`https://github.com/JasonFreeberg/zip-deploy-arm-template`

I tested with the latest API version and it works fine:
[code]
Result:
![2022-07-21_181306](https://user-images.githubusercontent.com/53899348/180268500-

[2022-08-11 06:25] jorgecotillo commented on #2462
Latest update, will need to re-run the schema generation, seems like we had a long running bug that caused duplicated child: https://github.com/Azure/autorest.azureresourceschema/pull/81 it has been fixed, will see if this extension update fixes Microsoft.Authorization generation issue.

[2022-08-16 02:10] MikeCook9994 commented on #2242
I've noticed that:
https://raw.githubusercontent.com/Azure/azure-resource-manager-schemas/main/schemas/common/autogeneratedResources.json and the autogeneratedResources.json file pointed to by the `$ref` tag in the deploymentTemplate.json file are absolutely not the same

The former contains references to 7294 other schemas; however, the later only contains references to 6917 other schemas.

There

[2022-08-25 18:04] matthchr commented on #2462
I think this is now fixed and can probably be closed? At least, I updated to use the latest from `main` and didn't have anything get deleted (like I had before)

[2022-08-29 20:45] SPSCS-Simon opened #2546 "No schema for KeyVault API 2022-07-01"
Please can you add a compatible schema for the latest API version per https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/2022-07-01/vaults?pivots=deployment-language-arm-template

Thanks!

[2022-08-31 07:08] Interface007 opened #2551 "schema for api version "2020-06-01", type "Microsoft.Network/privateDnsZones/A" seems to be outdated"
The current schema version of "Microsoft.Network/privateDnsZones/A" is 2020-06-01, but               "Microsoft.Network/privateDnsZones/A" is missing in the generated schema files. Result:

- with schema version "2018-09-01" I get the warning "Api versions must be the latest or under 4 years old (1460 days) - API version 2018-09-01 of Microsoft.Network/privateDnsZones/A is 1460 days old"
- with sc

[2022-09-13 15:20] lonico opened #2570 "deleteOption is missing in azure-resource-manager-schemas/schemas/2022-03-02/Microsoft.Compute.json"
We would like to be be able to set `deleteOption` under OSDisk to `delete` when creating a VM, so that any resource associated with the VM is deleted when the VM is deleted.

[2022-09-15 22:04] Ricky1997 commented on #1790
@apclouds I am having the same issue, whats the resolution for this ticket?

[2022-09-20 22:41] Ricky1997 commented on #1790
@karataliu  were you able to find a solution for this?

[2022-09-21 09:05] karataliu commented on #1790
no, this seems not fixed

[2022-09-21 17:43] majastrz commented on #1790
We're tracking it on our internal ADO board.

[2022-09-22 21:07] Ricky1997 commented on #1790
Is there any ETA you can provide @majastrz

[2022-10-06 14:55] KenBenjamin opened #2603 "storageAccounts virtualNetworkRules validation fails for cross-tenant subnet"
The following preflight error is returned if using a resource identifier that refers to another tenant:
`Error: Code=InvalidValuesForRequestParameters; Message=Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id. For more information, see -
     | https://aka.ms/storagenetworkruleset`

Using PowerShell `Add-AzStorageAccountNetworkRule` works correctly, as do same-tenan

[2022-10-13 21:46] oyvindh opened #2617 "Schemas are using Draft 4 as the meta schema."
Trying to validate parameter files early in the loop, but using any modern validator does not work as they typically only support the later drafts (6 and 7). Would it be possible to get the schemas updated to a more recent draft?

[2022-10-14 01:53] leni-msft opened #2618 "Schema auto-generation log in SDK automation pipeline is confusing"
https://github.com/Azure/azure-rest-api-specs/pull/20651/checks?check_run_id=8279839452

The real error is:
[code]

[2022-11-02 19:59] Kapilhk commented on #313
Hi, suggesting a workaround, please try: Remove the existing runbook-schedule link
Then use bicep template like:
(Note: Guid here in name remains constant across all your deployments, not a variable parameter. Although generate one from here since has to be unique for you: https://guidgenerator.com/online-guid-generator.aspx)

Bicep:
resource startScheduledRunbook 'Microsoft.Automation/automationA

[2022-11-23 08:46] qianwens opened #2672 "Onboard autogen for resource type connector in ServiceLinker"
Service connector team added a new tracked resource type "connectors" in RP servicelinker, it is not in the auto-gen list now, please help onboard this new resource type
https://github.com/Azure/azure-resource-manager-schemas/blob/main/generator/autogenlist.ts#L778
 {
        basePath: 'servicelinker/resource-manager',
        namespace: 'Microsoft.ServiceLinker',
        resourceConfig: [

[2022-11-24 05:23] jianlongsu opened #2674 "Schemas generated from azure-rest-api-specs-pr"
Hello, our RP **Microsoft.HDInsight** has some preview resource types specs in https://github.com/Azure/azure-rest-api-specs-pr.
They are not used to generate schemas automatically so that the 'template export' doesn't work for these resources.

I have some questions:
1. Should I manually generate these schemas and publish them by raising a PR in this repo?
2. If Q1's answer is 'yes', how can I do

[2022-11-26 01:13] 3p3r opened #2675 "missing schema for 2020-04-01-preview of Microsoft.Authorization"
Hello!

I was following the example from Azure quickstart guides in [here](https://github.com/Azure/azure-quickstart-templates/blob/e43cd4c6cdbc5f0518443b36a19d30e316e05ec7/quickstarts/microsoft.storage/storage-static-website/azuredeploy.json#L86).

I noticed the schema for ` 2020-04-01-preview/Microsoft.Authorization.json` is missing in this repo. It's listed here in `resources.json` too: https:/

[2022-11-28 03:34] qianwens commented on #2672
Hi team, this issue has pending Triage for 5 days, could you please help take a look ASAP?

[2022-11-30 12:26] LianwMS opened #2680 "Questions about Template Export algorithm"
Hi All,

We are service connector team. Service Connector have a resource linker which is not a tracked resource. It's an extension resource, which may support App Service, Spring APP and Container APP now. We want to add the support about "Template Export" in portal. That means, is an App Service Instance contains the "linker" resource, the arm template exported can contain the "linker" resource.